flows.json
[
    {
        "id": "e7c83390c801a80d",
        "type": "tab",
        "label": "TEC1 Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cf6783623c678570",
        "type": "tab",
        "label": "TCP Handler",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3af95fce94a57f18",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c9bdc4eeb83f3a71",
            "ec49dc01b583d0e4",
            "517bbb6d2e99fc3f",
            "5cdbc691e12d63c8",
            "31c44dd228ad333a",
            "bc3a43f9d6f9371c",
            "7d298d037dcc0785",
            "2c73a6beb9f43f46",
            "12258a32cdc88aef",
            "8112e4f7214b8b1e",
            "03d4998c6b17607e",
            "13fb9857d3485ceb",
            "421399e29ada540b",
            "85880742b4c37395",
            "f4c50cb1a1fe8ad3",
            "3cc3e9ff918628ad"
        ],
        "x": 1914,
        "y": 19,
        "w": 732,
        "h": 502
    },
    {
        "id": "f2e3944ec2e98a49",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7503c43e3cd8e8cd",
            "6d034e37778169b5",
            "3a043ad22e6494c3",
            "d088580c23909a11",
            "b1baf05ee55dcecd",
            "8c3a31adf4cfee8a",
            "cb64b9f593018214",
            "a1a35aa4a95f4777",
            "66910f23dd134c7a",
            "2958e4b1787ca703",
            "f2c452def360f9c9",
            "9a65bdf0fc49e6ba",
            "d5b3518a951b75de",
            "cef88909939db6b4",
            "fc12703b35502c02",
            "746c74e2d4f82cd2",
            "8bbd4682b1a627ac",
            "4543ef2791ad9a5a",
            "fbc67ae51119acec",
            "c143eda6c0664c67",
            "a72d7d9a4491ca5c",
            "f950f2df5481240c"
        ],
        "x": 1914,
        "y": 539,
        "w": 752,
        "h": 622
    },
    {
        "id": "42e0ca0b34b1ace9",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "846b45e89f07638e",
            "62e6a7686260e20c",
            "97f850dee3c80351",
            "ceef083bbb5a5882",
            "1a9606d279ae8bfa",
            "b92e4d5a757aa9ee",
            "4a1cde2f6c3c5dd3",
            "f8bcf518c4d6a0d3",
            "543d8e64cb8b780e",
            "4f6c2a2ec6c139af",
            "83ab42e7ccbc87e0",
            "fb93372f3fa018f2",
            "744cda17e1eef0f0",
            "d24e807803192783",
            "bb481680c7838228",
            "a3ae95950a9ec97c"
        ],
        "x": 2694,
        "y": 19,
        "w": 1292,
        "h": 462
    },
    {
        "id": "0a693ed80d2f4120",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a0afc63c51e60031",
            "71b5dff00ed10042",
            "a16c87c58967aa49",
            "eb3658ede499a134",
            "ede91e35096fa18d",
            "d8aec8dbbb245fd8",
            "670ab20c8c4c7c26",
            "5323bc0b2a2e2691",
            "9cb5f4eabd6c7153",
            "f1b7362c3fb12344"
        ],
        "x": 2694,
        "y": 539,
        "w": 612,
        "h": 382
    },
    {
        "id": "f0dc09849048ecc9",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a3647966f7782168",
            "d999b58a89897bf5",
            "eab76b22e21e5e07",
            "ae35c715a04005bf",
            "75d727566cacab6f",
            "9a8ae406ad5e20a8",
            "611ccf94ab64161f",
            "d7b10e0b9b16a4ab",
            "0818dc81a8a04017",
            "f7e219e337e5edec"
        ],
        "x": 14,
        "y": 19,
        "w": 1112,
        "h": 242
    },
    {
        "id": "59f969dbefde3c20",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "71059a572e32d172",
            "b005d7a79f6cc721",
            "ae718095be210f28",
            "917f0638ce49c2db",
            "ace7eb5425392eb6"
        ],
        "x": 2554,
        "y": 1739,
        "w": 922,
        "h": 142
    },
    {
        "id": "935e59a53e14ca1a",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c4de4c55a7d8a5ec",
            "894a0b3429653a6e",
            "6aeca8586a5c8981",
            "cf0605e75fcda16a",
            "74e39d3374c18a3b",
            "e20fadcb84b3af7e",
            "1042a32bc4cf0ffd",
            "ac0107e358a6549f"
        ],
        "x": 2554,
        "y": 1559,
        "w": 1042,
        "h": 162
    },
    {
        "id": "12435dd0704ed692",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3ec5450e3de943e7",
            "9d8a4eac85250544",
            "53ab39c63df549f2",
            "ef5898da0ef9c5c2",
            "8f842eea6e492bf6",
            "30b0f4f49b6f63c7",
            "03114adbe6c1b33e",
            "2b1223d5c9b61ea4",
            "a8611ffabe878ad7",
            "2ee1aea256edcd58",
            "1ad79fc4ebe64019",
            "cd9178a79b592056"
        ],
        "x": 374,
        "y": 2359,
        "w": 1312,
        "h": 282
    },
    {
        "id": "6eb98fdfabd2b89e",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "813bac68021bfed6",
            "ea87bd6a606f75f6",
            "9aa5a2fe8a44a0c0",
            "ddfc03d28f1f9009",
            "5bd1e88bf882bcc0",
            "01c77a7313acb0ea",
            "5120d294b5068e8e",
            "53fc821d9824b0a1",
            "c57d547bed19c3f2",
            "09499327219e7895",
            "a36e2c120de55427",
            "e5a769887b87fd39"
        ],
        "x": 394,
        "y": 2039,
        "w": 1312,
        "h": 282
    },
    {
        "id": "f13b70955d462e75",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5fa469c2ab046f96",
            "9fb4aecba586ea44",
            "84cba5c48008d4e1",
            "d10b4e684138237a",
            "0489064d8c34c5e1",
            "20cd440a60d08f68",
            "ca97f64c80e03149",
            "8caf47440d156ec5",
            "5a19164330c992dd",
            "546092f6ad7e17ab",
            "a53dab32327b99ac",
            "19a5e025f613ecfc",
            "bf6272bf00ea2bf0",
            "8e390dd4c4b0c4c3",
            "c2b7db9fe482082c",
            "bc96117ebb3a0833",
            "cad61da787c1ef5e",
            "900f5d1dcdb0acda"
        ],
        "x": 394,
        "y": 979,
        "w": 1332,
        "h": 302
    },
    {
        "id": "f0941043a3857f6f",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9f985aed6da6bbbc",
            "9d32eeb600c5582b",
            "869d45dab24ff86b",
            "75a6bc967f88c7d7",
            "c55bc81ed0f24540",
            "c970b3a3074f22f1",
            "4c3617b480eb4af8",
            "1dd162805fd28644",
            "323cedad6446ad7d",
            "b036a3dd85a75048",
            "448cccfde3239841",
            "ae1215d4a6d3581c"
        ],
        "x": 394,
        "y": 279,
        "w": 1352,
        "h": 282
    },
    {
        "id": "b36a1ae7d14f8198",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4859cf46678a4b5e",
            "569eb3234bd1f82f",
            "89a1963d01173e5b",
            "26ed40633166e090",
            "7406a409407d4cc1",
            "efb1e6b864de3a4d",
            "e248c92ab607f364",
            "cf5549fb5ce0239e",
            "8215dd1fc9665872",
            "9cfeebda0480709f",
            "7e42fa7e035a7f39",
            "98a83dfabb0e00bb",
            "437f2ced33b2c09e",
            "47f3282c27881050",
            "0249fbf976c5684c"
        ],
        "x": 394,
        "y": 599,
        "w": 1322,
        "h": 342
    },
    {
        "id": "c58defa34619bed1",
        "type": "group",
        "z": "cf6783623c678570",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f571a701c8eade82",
            "59708558768acf73",
            "960ffb812b58175a",
            "3ef4329bf93ca1c4",
            "e115397606bcc015",
            "d6bad227728d6424",
            "b16da2cc36bc87a7",
            "53538e4aa10c3508",
            "a3ef228f3ea0197d",
            "87ac5c256773c365",
            "42b4bd72e9117726",
            "3e020dc420936440"
        ],
        "x": 114,
        "y": 19,
        "w": 892,
        "h": 222
    },
    {
        "id": "d3b5dcf1216195f0",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b2ef73b93b171a38",
            "a040e13d90ebba7e",
            "43bd6aaf8c6a93a7",
            "700b0a18f669792e",
            "33c05c3ed8549326",
            "f984d2b7c6e0d1b2",
            "265d3eb51e402107",
            "e7bddbf4147893d6"
        ],
        "x": 1914,
        "y": 1179,
        "w": 652,
        "h": 342
    },
    {
        "id": "d31b319e0a98a425",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0474690b9176dbe9",
            "0e3940036aafc2d4",
            "b7ff86d116d4f268",
            "c80b73112ee98a88",
            "ac10961c22adb501",
            "e951bd47d2b1dbae",
            "c12c335c04b11519",
            "0b879b5dec9cb04f",
            "c505a268bc1f810e",
            "9f389076a9b6f73f",
            "2ac83c22d129027e",
            "3acc0d2a1d6808d1",
            "5c7d207a44f42aa3",
            "6b3a7ae32a3b68ce",
            "33d1d8df9440d575",
            "c94b0e292a3b7a6b",
            "a570cdd0a47f576a",
            "a9aee0e04ee1b5d6",
            "ef03767471d7eb8c",
            "5d0e430b6aa8b51f",
            "33dff353b4411c99",
            "29ac032cc0751b08",
            "8719de7f5a89d239",
            "de211fa98e101295",
            "dd8a48d47178cb22",
            "ce2adbabcfd9ccf5",
            "9cf5b0b92d40a5fb",
            "44b4c9a87f37ac13"
        ],
        "x": 394,
        "y": 1339,
        "w": 1432,
        "h": 662
    },
    {
        "id": "42a903ea.527e3c",
        "type": "advanced-ftp-config",
        "host": "165.73.241.82",
        "port": "8821",
        "secure": false,
        "secureOptions": "",
        "user": "juanh",
        "connTimeout": "",
        "pasvTimeout": "",
        "keepalive": "",
        "name": ""
    },
    {
        "id": "6363ec22c866f790",
        "type": "ui_group",
        "name": "FTP Details",
        "tab": "71435652b50b9e7f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "054e62be5c706d3c",
        "type": "ui_group",
        "name": "Discord Channel IDs",
        "tab": "71435652b50b9e7f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "71435652b50b9e7f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "859dbcb8a11c0bcd",
        "type": "discord-token",
        "name": "TEC1 System"
    },
    {
        "id": "85fa4088e73530eb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cdebc38f99ac001e",
        "type": "ui_group",
        "name": "Battlemetrics Setup",
        "tab": "71435652b50b9e7f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2118590cbe579670",
        "type": "sqlitedb",
        "db": "scummunity.db",
        "mode": "RWC"
    },
    {
        "id": "962a60d0.15aec8",
        "type": "mqtt-broker",
        "broker": "iot",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5fe617e0c367d2ea",
        "type": "ui_group",
        "name": "Bot Steam ID",
        "tab": "71435652b50b9e7f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a3647966f7782168",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "",
        "workingDir": "165.73.241.82_7000",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 1040,
        "y": 120,
        "wires": [
            [
                "f7e219e337e5edec"
            ]
        ]
    },
    {
        "id": "d999b58a89897bf5",
        "type": "inject",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "611ccf94ab64161f"
            ]
        ]
    },
    {
        "id": "9f985aed6da6bbbc",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "",
        "func": "msg.admin = msg.admin[msg.admin.length-1];\nmsg.filename = msg.admin.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "869d45dab24ff86b"
            ]
        ]
    },
    {
        "id": "9d32eeb600c5582b",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 380,
        "wires": [
            [
                "75a6bc967f88c7d7"
            ]
        ]
    },
    {
        "id": "869d45dab24ff86b",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.workingDir = flow.get(\"workingDir\");\nmsg.filename = msg.workingDir + \"/\" + msg.filename;\nmsg.localFilename = \"adminloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "9d32eeb600c5582b"
            ]
        ]
    },
    {
        "id": "eab76b22e21e5e07",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "name": "Get filenames",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "75a6bc967f88c7d7",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "",
        "filename": "adminloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 990,
        "y": 380,
        "wires": [
            [
                "c55bc81ed0f24540"
            ]
        ]
    },
    {
        "id": "c55bc81ed0f24540",
        "type": "join",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "c970b3a3074f22f1"
            ]
        ]
    },
    {
        "id": "c970b3a3074f22f1",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newadminlogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldadminlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 380,
        "wires": [
            [
                "1dd162805fd28644"
            ]
        ]
    },
    {
        "id": "4c3617b480eb4af8",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldadminlogs",
                "pt": "flow",
                "to": "newadminlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1dd162805fd28644",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 380,
        "wires": [
            [
                "ae1215d4a6d3581c"
            ]
        ]
    },
    {
        "id": "323cedad6446ad7d",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "Get latest admin log file.",
        "info": "",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "bd24a9a6886cabfe",
        "type": "discordMessageManager",
        "z": "e7c83390c801a80d",
        "name": "Send Discord Message",
        "channel": "",
        "token": "859dbcb8a11c0bcd",
        "x": 2070,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "b036a3dd85a75048",
        "type": "split",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "448cccfde3239841"
            ]
        ]
    },
    {
        "id": "448cccfde3239841",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "Format Message - Admin",
        "func": "var a = msg.payload\n\nvar time = a.substr(0, 19);\nvar ID = a.substring( a.indexOf(\"'\") + 1, a.indexOf(\":\",21));\nvar name = a.substring(a.indexOf(\":\",21)+1, a.indexOf(\"(\",21));\nvar command = a.substring(a.indexOf(\"Command: '\")+10, a.lastIndexOf(\"'\"));\n\nmsg.payload = \"```yaml\\nTime: [\" + time + \"] ID: [\" + ID + \"] Name: [\" + name + \"] Command: [\" + command + \"]\\n```\";\n\nmsg.channel = flow.get(\"channelIDAdmin\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 460,
        "wires": [
            [
                "bd24a9a6886cabfe",
                "4c3617b480eb4af8"
            ]
        ]
    },
    {
        "id": "ae1215d4a6d3581c",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "f0941043a3857f6f",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "b036a3dd85a75048"
            ],
            [
                "4c3617b480eb4af8"
            ]
        ]
    },
    {
        "id": "5fa469c2ab046f96",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "func": "msg.kill = msg.kill[msg.kill.length-1];\nmsg.filename = msg.kill.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1080,
        "wires": [
            [
                "84cba5c48008d4e1"
            ]
        ]
    },
    {
        "id": "9fb4aecba586ea44",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 1080,
        "wires": [
            [
                "d10b4e684138237a"
            ]
        ]
    },
    {
        "id": "84cba5c48008d4e1",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = msg.workingDir + \"/\" + msg.filename;\nmsg.localFilename = \"killloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1080,
        "wires": [
            [
                "9fb4aecba586ea44"
            ]
        ]
    },
    {
        "id": "d10b4e684138237a",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "filename": "killloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 980,
        "y": 1080,
        "wires": [
            [
                "0489064d8c34c5e1"
            ]
        ]
    },
    {
        "id": "0489064d8c34c5e1",
        "type": "join",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 1080,
        "wires": [
            [
                "20cd440a60d08f68"
            ]
        ]
    },
    {
        "id": "20cd440a60d08f68",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newkilllogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldkilllogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1080,
        "wires": [
            [
                "8caf47440d156ec5"
            ]
        ]
    },
    {
        "id": "ca97f64c80e03149",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldkilllogs",
                "pt": "flow",
                "to": "newkilllogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "8caf47440d156ec5",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 1080,
        "wires": [
            [
                "a53dab32327b99ac"
            ]
        ]
    },
    {
        "id": "5a19164330c992dd",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "Get latest kill log file.",
        "info": "",
        "x": 510,
        "y": 1020,
        "wires": []
    },
    {
        "id": "546092f6ad7e17ab",
        "type": "split",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 1160,
        "wires": [
            [
                "ca97f64c80e03149",
                "bf6272bf00ea2bf0"
            ]
        ]
    },
    {
        "id": "a53dab32327b99ac",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "546092f6ad7e17ab"
            ],
            [
                "ca97f64c80e03149"
            ]
        ]
    },
    {
        "id": "813bac68021bfed6",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "",
        "func": "msg.mines = msg.mines[msg.mines.length-1];\nmsg.filename = msg.mines.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2140,
        "wires": [
            [
                "9aa5a2fe8a44a0c0"
            ]
        ]
    },
    {
        "id": "ea87bd6a606f75f6",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 2140,
        "wires": [
            [
                "ddfc03d28f1f9009"
            ]
        ]
    },
    {
        "id": "9aa5a2fe8a44a0c0",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = msg.workingDir + \"/\" + msg.filename;\nmsg.localFilename = \"minesloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2140,
        "wires": [
            [
                "ea87bd6a606f75f6"
            ]
        ]
    },
    {
        "id": "ddfc03d28f1f9009",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "",
        "filename": "minesloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 990,
        "y": 2140,
        "wires": [
            [
                "5bd1e88bf882bcc0"
            ]
        ]
    },
    {
        "id": "5bd1e88bf882bcc0",
        "type": "join",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 2140,
        "wires": [
            [
                "01c77a7313acb0ea"
            ]
        ]
    },
    {
        "id": "01c77a7313acb0ea",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newmineslogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldmineslogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2140,
        "wires": [
            [
                "53fc821d9824b0a1"
            ]
        ]
    },
    {
        "id": "5120d294b5068e8e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldmineslogs",
                "pt": "flow",
                "to": "newmineslogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "53fc821d9824b0a1",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 2140,
        "wires": [
            [
                "a36e2c120de55427"
            ]
        ]
    },
    {
        "id": "c57d547bed19c3f2",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "Get latest mines log file.",
        "info": "",
        "x": 520,
        "y": 2080,
        "wires": []
    },
    {
        "id": "09499327219e7895",
        "type": "split",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 2220,
        "wires": [
            [
                "5120d294b5068e8e",
                "e5a769887b87fd39"
            ]
        ]
    },
    {
        "id": "a36e2c120de55427",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 2220,
        "wires": [
            [
                "09499327219e7895"
            ],
            [
                "5120d294b5068e8e"
            ]
        ]
    },
    {
        "id": "3ec5450e3de943e7",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "",
        "func": "msg.violations = msg.violations[msg.violations.length-1];\nmsg.filename = msg.violations.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2460,
        "wires": [
            [
                "53ab39c63df549f2"
            ]
        ]
    },
    {
        "id": "9d8a4eac85250544",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 780,
        "y": 2460,
        "wires": [
            [
                "ef5898da0ef9c5c2"
            ]
        ]
    },
    {
        "id": "53ab39c63df549f2",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = msg.workingDir + \"/\" + msg.filename;\nmsg.localFilename = \"violationsloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 2460,
        "wires": [
            [
                "9d8a4eac85250544"
            ]
        ]
    },
    {
        "id": "ef5898da0ef9c5c2",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "",
        "filename": "violationsloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 980,
        "y": 2460,
        "wires": [
            [
                "8f842eea6e492bf6"
            ]
        ]
    },
    {
        "id": "8f842eea6e492bf6",
        "type": "join",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1150,
        "y": 2460,
        "wires": [
            [
                "30b0f4f49b6f63c7"
            ]
        ]
    },
    {
        "id": "30b0f4f49b6f63c7",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newviolationslogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldviolationslogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 2460,
        "wires": [
            [
                "2b1223d5c9b61ea4"
            ]
        ]
    },
    {
        "id": "03114adbe6c1b33e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldviolationslogs",
                "pt": "flow",
                "to": "newviolationslogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 2600,
        "wires": [
            []
        ]
    },
    {
        "id": "2b1223d5c9b61ea4",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1550,
        "y": 2460,
        "wires": [
            [
                "1ad79fc4ebe64019"
            ]
        ]
    },
    {
        "id": "a8611ffabe878ad7",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "Get latest violations log file.",
        "info": "",
        "x": 510,
        "y": 2400,
        "wires": []
    },
    {
        "id": "2ee1aea256edcd58",
        "type": "split",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 2540,
        "wires": [
            [
                "03114adbe6c1b33e",
                "cd9178a79b592056"
            ]
        ]
    },
    {
        "id": "1ad79fc4ebe64019",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 2540,
        "wires": [
            [
                "2ee1aea256edcd58"
            ],
            [
                "03114adbe6c1b33e"
            ]
        ]
    },
    {
        "id": "f7e219e337e5edec",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "name": "",
        "func": "const arr = msg.payload;\n\nvar adminresult = arr.filter(item => item.name.includes('admin_'));\nvar chatresult = arr.filter(item => item.name.includes('chat_'));\nvar killresult = arr.filter(item => item.name.includes('kill_'));\nvar loginresult = arr.filter(item => item.name.includes('login_'));\nvar minesresult = arr.filter(item => item.name.includes('mines_'));\nvar violationsresult = arr.filter(item => item.name.includes('violations_'));\n\nmsg.admin = adminresult;\nmsg.chat = chatresult;\nmsg.kill = killresult;\nmsg.login = loginresult;\nmsg.mines = minesresult;\nmsg.violations = violationsresult;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 220,
        "wires": [
            [
                "9f985aed6da6bbbc",
                "5fa469c2ab046f96",
                "813bac68021bfed6",
                "3ec5450e3de943e7",
                "4859cf46678a4b5e",
                "0474690b9176dbe9"
            ]
        ]
    },
    {
        "id": "ae35c715a04005bf",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "name": "List Folder Instructions",
        "func": "msg.operation = \"list\";\nmsg.workingDir = flow.get(\"workingDir\");\nmsg.showError = true;\nmsg.throwError = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 100,
        "wires": [
            [
                "a3647966f7782168"
            ]
        ]
    },
    {
        "id": "75d727566cacab6f",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "name": "PingPerfect Context",
        "rules": [
            {
                "t": "set",
                "p": "workingDir",
                "pt": "flow",
                "to": "165.73.241.82_7000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "ae35c715a04005bf"
            ]
        ]
    },
    {
        "id": "9a8ae406ad5e20a8",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "name": "G-Portal Context",
        "rules": [
            {
                "t": "set",
                "p": "workingDir",
                "pt": "flow",
                "to": "SCUM/Saved/SaveFiles/Logs",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "ae35c715a04005bf"
            ]
        ]
    },
    {
        "id": "c9bdc4eeb83f3a71",
        "type": "ui_dropdown",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Server Provider",
        "label": "Server Provider",
        "tooltip": "",
        "place": "Select option",
        "group": "6363ec22c866f790",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "PingPerfect",
                "value": "PingPerfect",
                "type": "str"
            },
            {
                "label": "G-Portal",
                "value": "G-Portal",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 2020,
        "y": 120,
        "wires": [
            [
                "12258a32cdc88aef"
            ]
        ]
    },
    {
        "id": "ec49dc01b583d0e4",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "label": "Host",
        "tooltip": "",
        "group": "6363ec22c866f790",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 1990,
        "y": 160,
        "wires": [
            [
                "8112e4f7214b8b1e"
            ]
        ]
    },
    {
        "id": "517bbb6d2e99fc3f",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "label": "Port",
        "tooltip": "",
        "group": "6363ec22c866f790",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 1990,
        "y": 200,
        "wires": [
            [
                "03d4998c6b17607e"
            ]
        ]
    },
    {
        "id": "5cdbc691e12d63c8",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "6363ec22c866f790",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 240,
        "wires": [
            [
                "13fb9857d3485ceb"
            ]
        ]
    },
    {
        "id": "31c44dd228ad333a",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "6363ec22c866f790",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2000,
        "y": 280,
        "wires": [
            [
                "421399e29ada540b"
            ]
        ]
    },
    {
        "id": "bc3a43f9d6f9371c",
        "type": "ui_button",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Save FTP Details",
        "group": "6363ec22c866f790",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save FTP Details",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2030,
        "y": 320,
        "wires": [
            [
                "85880742b4c37395"
            ]
        ]
    },
    {
        "id": "7d298d037dcc0785",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "To SNMP (view result in debug window)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2440,
        "y": 440,
        "wires": []
    },
    {
        "id": "2c73a6beb9f43f46",
        "type": "ui_toast",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "position": "top right",
        "displayTime": "4",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 2370,
        "y": 400,
        "wires": []
    },
    {
        "id": "12258a32cdc88aef",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempServerProvider",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8112e4f7214b8b1e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempHost",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "03d4998c6b17607e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempPort",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "13fb9857d3485ceb",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempUsername",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2290,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "421399e29ada540b",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempPassword",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2290,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "85880742b4c37395",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Check user input and construct payload object",
        "func": "var serverProvider = flow.get(\"UITempServerProvider\");\nvar host = flow.get(\"UITempHost\");\nvar port = flow.get(\"UITempPort\");\nvar username = flow.get(\"UITempUsername\");\nvar password = flow.get(\"UITempPassword\");\n\nif(!serverProvider){\n    node.error(\"Server Provider is empty\",msg)\n    return null; //halt flow\n}\nif(!host){\n    node.error(\"Host is empty\",msg)\n    return null; //halt flow\n}\nif(!port){\n    node.error(\"Port is empty\",msg)\n    return null; //halt flow\n}\nif(!username){\n    node.error(\"Username is empty\",msg)\n    return null; //halt flow\n}\nif(!password){\n    node.error(\"Password is empty\",msg)\n    return null; //halt flow\n}\nmsg.payload = [\n    {\n        \"serverProvider\": serverProvider,\n        \"host\": host,\n        \"port\":   port,\n        \"username\":  username,\n        \"password\": password\n    }\n]\n//temporary debug - set payload with string version for demo notification\n\n//msg.payload = \"All fields OK. This is what varbinds contains...\\n\" +  JSON.stringify(msg.varbinds);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 320,
        "wires": [
            [
                "2c73a6beb9f43f46",
                "7d298d037dcc0785",
                "f4c50cb1a1fe8ad3"
            ]
        ]
    },
    {
        "id": "f4c50cb1a1fe8ad3",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Set Context",
        "rules": [
            {
                "t": "set",
                "p": "serverProvider",
                "pt": "flow",
                "to": "payload[0].serverProvider",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "flow",
                "to": "payload[0].host",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "flow",
                "to": "payload[0].port",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "payload[0].username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload[0].password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2350,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3cc3e9ff918628ad",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Set FTP Details",
        "info": "",
        "x": 2020,
        "y": 60,
        "wires": []
    },
    {
        "id": "611ccf94ab64161f",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "name": "Check Server Provider",
        "property": "serverProvider",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "PingPerfect",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G-Portal",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "75d727566cacab6f"
            ],
            [
                "9a8ae406ad5e20a8"
            ],
            [
                "0818dc81a8a04017"
            ]
        ]
    },
    {
        "id": "7503c43e3cd8e8cd",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Admin Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 640,
        "wires": [
            [
                "2958e4b1787ca703"
            ]
        ]
    },
    {
        "id": "6d034e37778169b5",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Chat Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 680,
        "wires": [
            [
                "f2c452def360f9c9"
            ]
        ]
    },
    {
        "id": "3a043ad22e6494c3",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Global Chat Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2030,
        "y": 720,
        "wires": [
            [
                "9a65bdf0fc49e6ba"
            ]
        ]
    },
    {
        "id": "d088580c23909a11",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Kill Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2000,
        "y": 760,
        "wires": [
            [
                "d5b3518a951b75de"
            ]
        ]
    },
    {
        "id": "b1baf05ee55dcecd",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Login Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 800,
        "wires": [
            [
                "cef88909939db6b4"
            ]
        ]
    },
    {
        "id": "8c3a31adf4cfee8a",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Mines Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 840,
        "wires": [
            [
                "fc12703b35502c02"
            ]
        ]
    },
    {
        "id": "cb64b9f593018214",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Violations Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2020,
        "y": 880,
        "wires": [
            [
                "746c74e2d4f82cd2"
            ]
        ]
    },
    {
        "id": "a1a35aa4a95f4777",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "PvP Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2000,
        "y": 920,
        "wires": [
            [
                "8bbd4682b1a627ac"
            ]
        ]
    },
    {
        "id": "66910f23dd134c7a",
        "type": "ui_button",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "Save Channel IDs",
        "group": "054e62be5c706d3c",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save Channel IDs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2030,
        "y": 960,
        "wires": [
            [
                "4543ef2791ad9a5a"
            ]
        ]
    },
    {
        "id": "2958e4b1787ca703",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDAdmin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f2c452def360f9c9",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDChat",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9a65bdf0fc49e6ba",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDGlobalChat",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2330,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d5b3518a951b75de",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDKill",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cef88909939db6b4",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDLogin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "fc12703b35502c02",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDMines",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "746c74e2d4f82cd2",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDViolations",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2330,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "8bbd4682b1a627ac",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDPvP",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "4543ef2791ad9a5a",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "Check user input and construct payload object",
        "func": "var channelIDAdmin = flow.get(\"UITempChannelIDAdmin\");\nvar channelIDChat = flow.get(\"UITempChannelIDChat\");\nvar channelIDGlobalChat = flow.get(\"UITempChannelIDGlobalChat\");\nvar channelIDKill = flow.get(\"UITempChannelIDKill\");\nvar channelIDLogin = flow.get(\"UITempChannelIDLogin\");\nvar channelIDMines = flow.get(\"UITempChannelIDMines\");\nvar channelIDViolations = flow.get(\"UITempChannelIDViolations\");\nvar channelIDPvP = flow.get(\"UITempChannelIDPvP\");\n\nif(!channelIDAdmin){\n    node.error(\"Admin Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDChat){\n    node.error(\"Chat Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDGlobalChat){\n    node.error(\"Global Chat Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDKill){\n    node.error(\"Kill Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDLogin){\n    node.error(\"Login Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDMines){\n    node.error(\"Mines Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDViolations){\n    node.error(\"Violations Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDPvP){\n    node.error(\"PvP Channel ID is empty\",msg)\n    return null; //halt flow\n}\n\nmsg.payload = [\n    {\n        \"channelIDAdmin\": channelIDAdmin,\n        \"channelIDChat\": channelIDChat,\n        \"channelIDGlobalChat\":   channelIDGlobalChat,\n        \"channelIDKill\":  channelIDKill,\n        \"channelIDLogin\":  channelIDLogin,\n        \"channelIDMines\":  channelIDMines,\n        \"channelIDViolations\":  channelIDViolations,\n        \"channelIDPvP\": channelIDPvP\n    }\n]\n//temporary debug - set payload with string version for demo notification\n\n//msg.payload = \"All fields OK. This is what varbinds contains...\\n\" +  JSON.stringify(msg.varbinds);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2360,
        "y": 960,
        "wires": [
            [
                "fbc67ae51119acec",
                "c143eda6c0664c67",
                "a72d7d9a4491ca5c"
            ]
        ]
    },
    {
        "id": "fbc67ae51119acec",
        "type": "ui_toast",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "position": "top right",
        "displayTime": "4",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 2390,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c143eda6c0664c67",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "To SNMP (view result in debug window)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a72d7d9a4491ca5c",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "Set Context",
        "rules": [
            {
                "t": "set",
                "p": "channelIDAdmin",
                "pt": "flow",
                "to": "payload[0].channelIDAdmin",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDChat",
                "pt": "flow",
                "to": "payload[0].channelIDChat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDGlobalChat",
                "pt": "flow",
                "to": "payload[0].channelIDGlobalChat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDKill",
                "pt": "flow",
                "to": "payload[0].channelIDKill",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDLogin",
                "pt": "flow",
                "to": "payload[0].channelIDLogin",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDMines",
                "pt": "flow",
                "to": "payload[0].channelIDMines",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDViolations",
                "pt": "flow",
                "to": "payload[0].channelIDViolations",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDPvP",
                "pt": "flow",
                "to": "payload[0].channelIDPvP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2330,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "f950f2df5481240c",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "Set Channel IDs",
        "info": "",
        "x": 2020,
        "y": 580,
        "wires": []
    },
    {
        "id": "19a5e025f613ecfc",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "Format message - PvP",
        "func": "msg.channel = flow.get(\"channelIDPvP\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "e5a769887b87fd39",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "6eb98fdfabd2b89e",
        "name": "Format message - mines",
        "func": "msg.channel = flow.get(\"channelIDMines\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 2220,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "cd9178a79b592056",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "12435dd0704ed692",
        "name": "Format message - violations",
        "func": "msg.channel = flow.get(\"channelIDViolations\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2540,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "bf6272bf00ea2bf0",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": " {\"Killer\":{\"ServerLocation",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1160,
        "wires": [
            [
                "8e390dd4c4b0c4c3"
            ]
        ]
    },
    {
        "id": "8e390dd4c4b0c4c3",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "Convert Kill Message to Object",
        "func": "let str = msg.payload;\nlet n = 21;\nconst kill = {};\n\nkill.time = {};\nkill.string = {};\n\nkill.time.year = str.substr(0, 4);\nkill.time.month = str.substr(5, 2);\nkill.time.day = str.substr(8, 2);\nkill.time.hour = str.substr(11, 2);\nkill.time.minute = str.substr(14, 2);\nkill.time.second = str.substr(17, 2);\nkill.details = JSON.parse(str.substring(n));\n\nmsg.payload = kill;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1160,
        "wires": [
            [
                "cad61da787c1ef5e",
                "900f5d1dcdb0acda"
            ]
        ]
    },
    {
        "id": "c2b7db9fe482082c",
        "type": "json",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1250,
        "y": 1160,
        "wires": [
            [
                "bc96117ebb3a0833",
                "cad61da787c1ef5e"
            ]
        ]
    },
    {
        "id": "bc96117ebb3a0833",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "Format message - kill",
        "func": "msg.payload = \"```yaml\\nKiller: [\" +  msg.payload.Killer.ProfileName + \"] Victim: [\" + msg.payload.Victim.ProfileName + \"] Weapon: [\" + msg.payload.Weapon + \"]\\n```\";\nmsg.channel = flow.get(\"channelIDKill\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1160,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "d7b10e0b9b16a4ab",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "0818dc81a8a04017",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f0dc09849048ecc9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Server Provider not set. Navigate to UI to setup bot.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "d7b10e0b9b16a4ab"
            ]
        ]
    },
    {
        "id": "c4de4c55a7d8a5ec",
        "type": "discordMessage",
        "z": "e7c83390c801a80d",
        "g": "935e59a53e14ca1a",
        "name": "Receive commands",
        "token": "859dbcb8a11c0bcd",
        "x": 2670,
        "y": 1680,
        "wires": [
            [
                "894a0b3429653a6e"
            ]
        ]
    },
    {
        "id": "894a0b3429653a6e",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "935e59a53e14ca1a",
        "name": "Delimiter !",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "$",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2880,
        "y": 1680,
        "wires": [
            [
                "74e39d3374c18a3b"
            ]
        ]
    },
    {
        "id": "6aeca8586a5c8981",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "935e59a53e14ca1a",
        "name": "Switch Commands",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "sendMessage",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3210,
        "y": 1680,
        "wires": [
            [
                "cf0605e75fcda16a",
                "1042a32bc4cf0ffd"
            ]
        ]
    },
    {
        "id": "cf0605e75fcda16a",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "935e59a53e14ca1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3270,
        "y": 1600,
        "wires": []
    },
    {
        "id": "74e39d3374c18a3b",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "935e59a53e14ca1a",
        "name": "",
        "property": "channel.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "885221470534533120",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3030,
        "y": 1680,
        "wires": [
            [
                "6aeca8586a5c8981"
            ]
        ]
    },
    {
        "id": "846b45e89f07638e",
        "type": "http request",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.battlemetrics.com/servers/{{{server}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 3170,
        "y": 120,
        "wires": [
            [
                "97f850dee3c80351"
            ]
        ]
    },
    {
        "id": "62e6a7686260e20c",
        "type": "inject",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 2810,
        "y": 120,
        "wires": [
            [
                "4a1cde2f6c3c5dd3"
            ]
        ]
    },
    {
        "id": "97f850dee3c80351",
        "type": "json",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3330,
        "y": 120,
        "wires": [
            [
                "1a9606d279ae8bfa"
            ]
        ]
    },
    {
        "id": "ceef083bbb5a5882",
        "type": "discordMessageManager",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "channel": "",
        "token": "859dbcb8a11c0bcd",
        "x": 3690,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1a9606d279ae8bfa",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "func": "const newMsg = {}\nnewMsg.payload = {\n    color: 0x0099ff,\n    title: msg.payload.data.attributes.name,\n    url: 'https://www.battlemetrics.com/servers/scum/'+msg.server,\n    author: {\n        name: 'Battlemetrics',\n        icon_url: 'https://scontent-cpt1-1.xx.fbcdn.net/v/t1.18169-9/13254401_251055025255091_4858501098864636929_n.png?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeEZZPDxRkTukonmVATKsaMImKV7BI_hvEeYpXsEj-G8R5Y7bO3E2g-cLQwQlgc0Y4k&_nc_ohc=WHfJuoqXp6kAX8J6ryw&_nc_ht=scontent-cpt1-1.xx&oh=6422a34d48a7f8fdf90ef2458438e313&oe=614BE076',\n        url: 'https://www.battlemetrics.com/servers/scum/'+msg.server,\n    },\n    //description: 'Some description here',\n    thumbnail: {\n        url: 'https://cdn.discordapp.com/icons/879633382336761856/f1f72f88edacb727451905c3eeae84c5.png',\n    },\n    fields: [\n        {\n            name: 'Players Online',\n            value: msg.payload.data.attributes.players + \"/\" + msg.payload.data.attributes.maxPlayers,\n            inline: true,\n        },\n        {\n            name: 'In-Game Time',\n            value: msg.payload.data.attributes.details.time,\n            inline: true,\n        },\n\t\t{\n\t\t\tname: '\\u200b',\n\t\t\tvalue: '\\u200b',\n\t\t\tinline: true,\n\t\t},\n        {\n            name: 'IP Address',\n            value: msg.payload.data.attributes.ip,\n            inline: true,\n        },\n        {\n            name: 'Port',\n            value: msg.payload.data.attributes.port,\n            inline: true,\n        },\n\t\t{\n\t\t\tname: '\\u200b',\n\t\t\tvalue: '\\u200b',\n\t\t\tinline: true,\n\t\t},\n        {\n            name: 'Server Rank',\n            value: msg.payload.data.attributes.rank,\n            inline: true,\n        },\n        {\n            name: 'Server ID',\n            value: msg.server,\n            inline: true,\n        },\n\t\t{\n\t\t\tname: '\\u200b',\n\t\t\tvalue: '\\u200b',\n\t\t\tinline: true,\n\t\t},\n        {\n            name: 'Game Version',\n            value: msg.payload.data.attributes.details.version,\n            inline: true,\n        },\n    ],\n    image: {\n        url: 'https://cdn.akamai.steamstatic.com/steam/apps/513710/header.jpg',\n    },\n    timestamp: new Date(),\n    footer: {\n        text: \"TEC1 System Bot written and developed by TheKraken_ZA#0001 |\",\n        icon_url: 'https://pbs.twimg.com/profile_images/1363429753970122752/7936_0LC_400x400.jpg',\n    },\n};\nnewMsg.embed = true;\nnewMsg.action = \"edit\";\nnewMsg.channel = msg.channel;\nnewMsg.message = msg.messageID;\nnewMsg.server = msg.server;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3480,
        "y": 120,
        "wires": [
            [
                "ceef083bbb5a5882"
            ]
        ]
    },
    {
        "id": "b92e4d5a757aa9ee",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "Send Battlemetrics Embed",
        "info": "",
        "x": 2830,
        "y": 60,
        "wires": []
    },
    {
        "id": "4a1cde2f6c3c5dd3",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "Server Params",
        "rules": [
            {
                "t": "set",
                "p": "server",
                "pt": "msg",
                "to": "BatMetServerID",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "BatMetChannel",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "messageID",
                "pt": "msg",
                "to": "BatMetMsgID",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2980,
        "y": 120,
        "wires": [
            [
                "846b45e89f07638e"
            ]
        ]
    },
    {
        "id": "f8bcf518c4d6a0d3",
        "type": "catch",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "scope": [
            "ceef083bbb5a5882"
        ],
        "uncaught": false,
        "x": 2770,
        "y": 340,
        "wires": [
            [
                "543d8e64cb8b780e"
            ]
        ]
    },
    {
        "id": "543d8e64cb8b780e",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DiscordAPIError: Unknown Message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "msg.message wasn't set correctly",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 2930,
        "y": 340,
        "wires": [
            [
                "744cda17e1eef0f0"
            ],
            [
                "744cda17e1eef0f0"
            ],
            [
                "4f6c2a2ec6c139af"
            ]
        ]
    },
    {
        "id": "4f6c2a2ec6c139af",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2910,
        "y": 420,
        "wires": []
    },
    {
        "id": "83ab42e7ccbc87e0",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "func": "const newMsg = {}\nnewMsg.payload = {\n    color: 0x0099ff,\n    title: msg.payload.data.attributes.name,\n    url: 'https://www.battlemetrics.com/servers/scum/'+msg.server,\n    author: {\n        name: 'Battlemetrics',\n        icon_url: 'https://scontent-cpt1-1.xx.fbcdn.net/v/t1.18169-9/13254401_251055025255091_4858501098864636929_n.png?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeEZZPDxRkTukonmVATKsaMImKV7BI_hvEeYpXsEj-G8R5Y7bO3E2g-cLQwQlgc0Y4k&_nc_ohc=WHfJuoqXp6kAX8J6ryw&_nc_ht=scontent-cpt1-1.xx&oh=6422a34d48a7f8fdf90ef2458438e313&oe=614BE076',\n        url: 'https://www.battlemetrics.com/servers/scum/'+msg.server,\n    },\n    //description: 'Some description here',\n    thumbnail: {\n        url: 'https://cdn.discordapp.com/icons/879633382336761856/f1f72f88edacb727451905c3eeae84c5.png',\n    },\n    fields: [\n        {\n            name: 'Players Online',\n            value: msg.payload.data.attributes.players + \"/64\",\n            inline: true,\n        },\n        {\n            name: 'In-Game Time',\n            value: msg.payload.data.attributes.details.time,\n            inline: true,\n        },\n\t\t{\n\t\t\tname: '\\u200b',\n\t\t\tvalue: '\\u200b',\n\t\t\tinline: true,\n\t\t},\n        {\n            name: 'IP Address',\n            value: msg.payload.data.attributes.ip,\n            inline: true,\n        },\n        {\n            name: 'Port',\n            value: msg.payload.data.attributes.port,\n            inline: true,\n        },\n\t\t{\n\t\t\tname: '\\u200b',\n\t\t\tvalue: '\\u200b',\n\t\t\tinline: true,\n\t\t},\n        {\n            name: 'Server Rank',\n            value: msg.payload.data.attributes.rank,\n            inline: true,\n        },\n        {\n            name: 'Server ID',\n            value: msg.server,\n            inline: true,\n        },\n\t\t{\n\t\t\tname: '\\u200b',\n\t\t\tvalue: '\\u200b',\n\t\t\tinline: true,\n\t\t},\n        {\n            name: 'Game Version',\n            value: msg.payload.data.attributes.details.version,\n            inline: true,\n        },\n    ],\n    image: {\n        url: 'https://cdn.akamai.steamstatic.com/steam/apps/513710/header.jpg',\n    },\n    timestamp: new Date(),\n    footer: {\n        text: \"TEC1 System Bot written and developed by TheKraken_ZA#0001 |\",\n        icon_url: 'https://pbs.twimg.com/profile_images/1363429753970122752/7936_0LC_400x400.jpg',\n    },\n};\nnewMsg.embed = true;\nnewMsg.channel = msg.channel;\nnewMsg.server = msg.server;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3400,
        "y": 340,
        "wires": [
            [
                "d24e807803192783"
            ]
        ]
    },
    {
        "id": "fb93372f3fa018f2",
        "type": "json",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3250,
        "y": 340,
        "wires": [
            [
                "83ab42e7ccbc87e0"
            ]
        ]
    },
    {
        "id": "744cda17e1eef0f0",
        "type": "http request",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.battlemetrics.com/servers/{{{server}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 3090,
        "y": 340,
        "wires": [
            [
                "fb93372f3fa018f2"
            ]
        ]
    },
    {
        "id": "d24e807803192783",
        "type": "discordMessageManager",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "channel": "",
        "token": "859dbcb8a11c0bcd",
        "x": 3610,
        "y": 340,
        "wires": [
            [
                "bb481680c7838228"
            ]
        ]
    },
    {
        "id": "bb481680c7838228",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "",
        "func": "flow.set(\"BatMetMsgID\", msg.payload.id);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3500,
        "y": 440,
        "wires": [
            [
                "a3ae95950a9ec97c"
            ]
        ]
    },
    {
        "id": "a3ae95950a9ec97c",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "42e0ca0b34b1ace9",
        "name": "Message not found, created new message.",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "msgid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3770,
        "y": 440,
        "wires": []
    },
    {
        "id": "a0afc63c51e60031",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "name": "Setup Battlemetrics",
        "info": "",
        "x": 2810,
        "y": 580,
        "wires": []
    },
    {
        "id": "71b5dff00ed10042",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "name": "",
        "label": "Server ID",
        "tooltip": "Enter the Battlemetrics Server ID for your server",
        "group": "cdebc38f99ac001e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2780,
        "y": 640,
        "wires": [
            [
                "ede91e35096fa18d"
            ]
        ]
    },
    {
        "id": "a16c87c58967aa49",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "name": "",
        "label": "Channel ID",
        "tooltip": "Enter the channel ID of your Battlemetrics Channel",
        "group": "cdebc38f99ac001e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2790,
        "y": 680,
        "wires": [
            [
                "d8aec8dbbb245fd8"
            ]
        ]
    },
    {
        "id": "eb3658ede499a134",
        "type": "ui_button",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "name": "Save Channel IDs",
        "group": "cdebc38f99ac001e",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save Settings",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2810,
        "y": 760,
        "wires": [
            [
                "670ab20c8c4c7c26"
            ]
        ]
    },
    {
        "id": "ede91e35096fa18d",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempBMServerID",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3040,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d8aec8dbbb245fd8",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempBMChannelID",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3050,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "670ab20c8c4c7c26",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "name": "Check user input and construct payload object",
        "func": "var BMServerID = flow.get(\"UITempBMServerID\");\nvar BMChannelID = flow.get(\"UITempBMChannelID\");\nvar BMThumb = flow.get(\"UITempBMThumb\");\n\nif(!BMServerID){\n    node.error(\"Battlemetrics Server ID is empty\",msg)\n    return null; //halt flow\n}\nif(!BMChannelID){\n    node.error(\"Battlemetrics Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!BMThumb){\n    node.error(\"Thumbnail URL is empty\",msg)\n    return null; //halt flow\n}\n\nmsg.payload = [\n    {\n        \"BMServerID\": BMServerID,\n        \"BMChannelID\": BMChannelID,\n        \"BMThumb\": BMThumb\n    }\n]\n//temporary debug - set payload with string version for demo notification\n\n//msg.payload = \"All fields OK. This is what varbinds contains...\\n\" +  JSON.stringify(msg.varbinds);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3100,
        "y": 760,
        "wires": [
            [
                "5323bc0b2a2e2691",
                "9cb5f4eabd6c7153",
                "f1b7362c3fb12344"
            ]
        ]
    },
    {
        "id": "5323bc0b2a2e2691",
        "type": "ui_toast",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "position": "top right",
        "displayTime": "4",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 3010,
        "y": 800,
        "wires": []
    },
    {
        "id": "9cb5f4eabd6c7153",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "name": "To SNMP (view result in debug window)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3080,
        "y": 840,
        "wires": []
    },
    {
        "id": "f1b7362c3fb12344",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "0a693ed80d2f4120",
        "name": "Set Context",
        "rules": [
            {
                "t": "set",
                "p": "BatMetServerID",
                "pt": "flow",
                "to": "payload[0].BMServerID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "BatMetChannel",
                "pt": "flow",
                "to": "payload[0].BMChannelID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "BatMetThumb",
                "pt": "flow",
                "to": "payload[0].BMThumb",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2990,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "71059a572e32d172",
        "type": "inject",
        "z": "e7c83390c801a80d",
        "g": "59f969dbefde3c20",
        "name": "CREATE DB SCHEMA",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 2710,
        "y": 1840,
        "wires": [
            [
                "b005d7a79f6cc721"
            ]
        ]
    },
    {
        "id": "b005d7a79f6cc721",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "59f969dbefde3c20",
        "name": "CREATE Tables",
        "func": "msg.topic = \"CREATE TABLE IF NOT EXISTS steamUser (steamId INTEGER PRIMARY KEY, scumName TEXT, ipAddress TEXT, scumId NUMERIC);\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2920,
        "y": 1840,
        "wires": [
            [
                "ae718095be210f28"
            ]
        ]
    },
    {
        "id": "ae718095be210f28",
        "type": "sqlite",
        "z": "e7c83390c801a80d",
        "g": "59f969dbefde3c20",
        "mydb": "2118590cbe579670",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 3120,
        "y": 1840,
        "wires": [
            [
                "ace7eb5425392eb6"
            ]
        ]
    },
    {
        "id": "917f0638ce49c2db",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "59f969dbefde3c20",
        "name": "Create DB Schema",
        "info": "",
        "x": 2690,
        "y": 1780,
        "wires": []
    },
    {
        "id": "e20fadcb84b3af7e",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "935e59a53e14ca1a",
        "name": "Handle $ commands",
        "info": "",
        "x": 2670,
        "y": 1620,
        "wires": []
    },
    {
        "id": "ace7eb5425392eb6",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "59f969dbefde3c20",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3360,
        "y": 1780,
        "wires": []
    },
    {
        "id": "2bc086dd1d0e8d27",
        "type": "tcp out",
        "z": "cf6783623c678570",
        "host": "192.168.3.3",
        "port": "9000",
        "beserver": "server",
        "base64": false,
        "end": false,
        "name": "",
        "x": 1400,
        "y": 300,
        "wires": []
    },
    {
        "id": "42b4bd72e9117726",
        "type": "link in",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "links": [
            "0249fbf976c5684c"
        ],
        "x": 155,
        "y": 140,
        "wires": [
            [
                "a3ef228f3ea0197d"
            ]
        ]
    },
    {
        "id": "a3ef228f3ea0197d",
        "type": "switch",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "property": "ID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BotSteamID",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "87ac5c256773c365",
                "f571a701c8eade82"
            ]
        ]
    },
    {
        "id": "b2ef73b93b171a38",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "d3b5dcf1216195f0",
        "name": "Bot Steam ID",
        "label": "Bot Steam ID",
        "tooltip": "",
        "group": "5fe617e0c367d2ea",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 1260,
        "wires": [
            [
                "700b0a18f669792e"
            ]
        ]
    },
    {
        "id": "a040e13d90ebba7e",
        "type": "ui_button",
        "z": "e7c83390c801a80d",
        "g": "d3b5dcf1216195f0",
        "name": "Save Bot Steam ID",
        "group": "5fe617e0c367d2ea",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save Bot Steam ID",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2030,
        "y": 1300,
        "wires": [
            [
                "33c05c3ed8549326"
            ]
        ]
    },
    {
        "id": "43bd6aaf8c6a93a7",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "d3b5dcf1216195f0",
        "name": "Set Bot Steam ID",
        "info": "",
        "x": 2020,
        "y": 1220,
        "wires": []
    },
    {
        "id": "700b0a18f669792e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "d3b5dcf1216195f0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempBotSteamID",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2300,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "33c05c3ed8549326",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d3b5dcf1216195f0",
        "name": "Check user input and construct payload object",
        "func": "var BotSteamID = flow.get(\"UITempBotSteamID\");\n\nif(!BotSteamID){\n    node.error(\"Bot Steam ID is empty\",msg)\n    return null; //halt flow\n}\n\nmsg.payload = [\n    {\n        \"BotSteamID\": BotSteamID,\n    }\n]\n//temporary debug - set payload with string version for demo notification\n\n//msg.payload = \"All fields OK. This is what varbinds contains...\\n\" +  JSON.stringify(msg.varbinds);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2360,
        "y": 1300,
        "wires": [
            [
                "e7bddbf4147893d6",
                "265d3eb51e402107",
                "f984d2b7c6e0d1b2"
            ]
        ]
    },
    {
        "id": "f984d2b7c6e0d1b2",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "d3b5dcf1216195f0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "BotSteamID",
                "pt": "global",
                "to": "payload[0].BotSteamID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "265d3eb51e402107",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "d3b5dcf1216195f0",
        "name": "To SNMP (view result in debug window)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2340,
        "y": 1440,
        "wires": []
    },
    {
        "id": "e7bddbf4147893d6",
        "type": "ui_toast",
        "z": "e7c83390c801a80d",
        "g": "d3b5dcf1216195f0",
        "position": "top right",
        "displayTime": "4",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 2260,
        "y": 1400,
        "wires": []
    },
    {
        "id": "4859cf46678a4b5e",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "func": "msg.chat = msg.chat[msg.chat.length-1];\nmsg.filename = msg.chat.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 700,
        "wires": [
            [
                "89a1963d01173e5b"
            ]
        ]
    },
    {
        "id": "569eb3234bd1f82f",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 700,
        "wires": [
            [
                "26ed40633166e090"
            ]
        ]
    },
    {
        "id": "89a1963d01173e5b",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = msg.workingDir + \"/\" + msg.filename;\nmsg.localFilename = \"chatloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 700,
        "wires": [
            [
                "569eb3234bd1f82f"
            ]
        ]
    },
    {
        "id": "26ed40633166e090",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "filename": "chatloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 980,
        "y": 700,
        "wires": [
            [
                "7406a409407d4cc1"
            ]
        ]
    },
    {
        "id": "7406a409407d4cc1",
        "type": "join",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 700,
        "wires": [
            [
                "efb1e6b864de3a4d"
            ]
        ]
    },
    {
        "id": "efb1e6b864de3a4d",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newchatlogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldchatlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 700,
        "wires": [
            [
                "e248c92ab607f364"
            ]
        ]
    },
    {
        "id": "e248c92ab607f364",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 700,
        "wires": [
            [
                "9cfeebda0480709f"
            ]
        ]
    },
    {
        "id": "cf5549fb5ce0239e",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "Get latest chat log file.",
        "info": "",
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "8215dd1fc9665872",
        "type": "split",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "47f3282c27881050",
                "7e42fa7e035a7f39"
            ]
        ]
    },
    {
        "id": "9cfeebda0480709f",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 780,
        "wires": [
            [
                "8215dd1fc9665872"
            ],
            [
                "47f3282c27881050"
            ]
        ]
    },
    {
        "id": "7e42fa7e035a7f39",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "Format message - chat",
        "func": "var a = msg.payload;\nconst newMsg = {};\n\nnewMsg.time = a.substr(0, 19);\nnewMsg.ID = a.substring( a.indexOf(\"'\") + 1, a.indexOf(\":\",21));\nnewMsg.name = a.substring(a.indexOf(\":\",21)+1, a.indexOf(\"(\",21));\nnewMsg.msgType = a.substring(a.indexOf(\")' '\")+4, a.indexOf(\":\",a.indexOf(\")' '\")+1));\nnewMsg.message = a.substring(a.indexOf(\"' '\" + newMsg.msgType + \": \"), a.lastIndexOf(\"'\"));\nnewMsg.message = newMsg.message.replace(\"' '\"+newMsg.msgType+\": \",\"\");\n\nif (newMsg.msgType == \"Global\") {\n  newMsg.payload = \"```md\\n# Time: [\" + newMsg.time + \"] ID: [\" + newMsg.ID + \"] Name: [\" + newMsg.name + \"] Type: [\" + newMsg.msgType + \"] Message: [\" + newMsg.message +\"]\\n```\";\n} else if (newMsg.msgType == \"Local\"){\n    newMsg.payload = \"```\\n# Time: [\" + newMsg.time + \"] ID: [\" + newMsg.ID + \"] Name: [\" + newMsg.name + \"] Type: [\" + newMsg.msgType + \"] Message: [\" + newMsg.message +\"]\\n```\";\n} else {\n    newMsg.payload = \"```diff\\n! Time: [\" + newMsg.time + \"] ID: [\" + newMsg.ID + \"] Name: [\" + newMsg.name + \"] Type: [\" + newMsg.msgType + \"] Message: [\" + newMsg.message +\"]\\n```\";\n}\n\nnewMsg.channel = flow.get(\"channelIDChat\");\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 780,
        "wires": [
            [
                "98a83dfabb0e00bb",
                "bd24a9a6886cabfe",
                "0249fbf976c5684c"
            ]
        ]
    },
    {
        "id": "98a83dfabb0e00bb",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "property": "msgType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Global",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 840,
        "wires": [
            [
                "437f2ced33b2c09e"
            ]
        ]
    },
    {
        "id": "437f2ced33b2c09e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "channelIDGlobalChat",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 840,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "47f3282c27881050",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldchatlogs",
                "pt": "flow",
                "to": "newchatlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "0249fbf976c5684c",
        "type": "link out",
        "z": "e7c83390c801a80d",
        "g": "b36a1ae7d14f8198",
        "name": "",
        "links": [
            "42b4bd72e9117726"
        ],
        "x": 1675,
        "y": 760,
        "wires": []
    },
    {
        "id": "87ac5c256773c365",
        "type": "debug",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 200,
        "wires": []
    },
    {
        "id": "f571a701c8eade82",
        "type": "switch",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "property": "message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SCUMmunity Bot Initializing.",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tSCUMmunity Bot Initializing.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "59708558768acf73",
                "3ef4329bf93ca1c4",
                "960ffb812b58175a"
            ],
            [
                "3ef4329bf93ca1c4",
                "59708558768acf73",
                "960ffb812b58175a"
            ]
        ]
    },
    {
        "id": "3ef4329bf93ca1c4",
        "type": "switch",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "property": "msgType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Local",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "e115397606bcc015"
            ]
        ]
    },
    {
        "id": "59708558768acf73",
        "type": "switch",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "property": "msgType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Squad",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "d6bad227728d6424"
            ]
        ]
    },
    {
        "id": "960ffb812b58175a",
        "type": "switch",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "property": "msgType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Global",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "b16da2cc36bc87a7"
            ]
        ]
    },
    {
        "id": "e115397606bcc015",
        "type": "function",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "func": "const newMsg = {}\n\nnewMsg.payload = '{ \"type\": \"typeString\", \"args\": \"SCUMmunity Bot Finished Initializing\" }';\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            [
                "3e020dc420936440",
                "08986cca3b6b02c6"
            ]
        ]
    },
    {
        "id": "d6bad227728d6424",
        "type": "function",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "func": "var msg1 = { payload:'{ \"type\": \"keyTap\", \"args\": \"tab\" }' };\nvar msg2 = { payload:'{ \"type\": \"typeString\", \"args\": \"SCUMmunity Bot Finished Initializing\" }' };\n\nreturn [ [ msg1, msg2 ] ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 140,
        "wires": [
            [
                "3e020dc420936440",
                "08986cca3b6b02c6"
            ]
        ]
    },
    {
        "id": "b16da2cc36bc87a7",
        "type": "function",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "",
        "func": "var msg1 = { payload:'{ \"type\": \"keyTap\", \"args\": \"tab\" }' };\nvar msg2 = { payload:'{ \"type\": \"keyTap\", \"args\": \"tab\" }' };\nvar msg3 = { payload:'{ \"type\": \"typeString\", \"args\": \"SCUMmunity Bot Finished Initializing\" }' };\n\nreturn [ [ msg1, msg2, msg3 ] ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            [
                "3e020dc420936440",
                "08986cca3b6b02c6"
            ]
        ]
    },
    {
        "id": "53538e4aa10c3508",
        "type": "comment",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "Check Bot Chat Location",
        "info": "",
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "70a2c6a0a236e809",
        "type": "function",
        "z": "cf6783623c678570",
        "name": "",
        "func": "const newMsg = {}\n\nnewMsg.payload = '{ \"type\": \"typeString\", \"args\": \"' + msg.payload + '\" }';\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "08986cca3b6b02c6"
            ]
        ]
    },
    {
        "id": "60ae93f7a2d7c381",
        "type": "link in",
        "z": "cf6783623c678570",
        "name": "Generic Message Sender",
        "links": [
            "ac0107e358a6549f"
        ],
        "x": 185,
        "y": 440,
        "wires": [
            [
                "70a2c6a0a236e809"
            ]
        ]
    },
    {
        "id": "1042a32bc4cf0ffd",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "935e59a53e14ca1a",
        "name": "",
        "func": "let str = msg.payload;\n \nstr = str.substring(12);\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3440,
        "y": 1680,
        "wires": [
            [
                "ac0107e358a6549f"
            ]
        ]
    },
    {
        "id": "ac0107e358a6549f",
        "type": "link out",
        "z": "e7c83390c801a80d",
        "g": "935e59a53e14ca1a",
        "name": "",
        "links": [
            "60ae93f7a2d7c381"
        ],
        "x": 3555,
        "y": 1680,
        "wires": []
    },
    {
        "id": "873d8a2ace439507",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempBMThumb",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3030,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e401ee9388a4e28d",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "name": "",
        "label": "Thumbnail URL",
        "tooltip": "URL for your Discord's Logo",
        "group": "cdebc38f99ac001e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2800,
        "y": 720,
        "wires": [
            [
                "873d8a2ace439507"
            ]
        ]
    },
    {
        "id": "05c63d9679d05d8e",
        "type": "tcp in",
        "z": "cf6783623c678570",
        "name": "",
        "server": "server",
        "host": "",
        "port": "9001",
        "datamode": "single",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 140,
        "y": 780,
        "wires": [
            [
                "a13dd9d6b66bac07",
                "a5dc26bc42bea497"
            ]
        ]
    },
    {
        "id": "a13dd9d6b66bac07",
        "type": "debug",
        "z": "cf6783623c678570",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 720,
        "wires": []
    },
    {
        "id": "08986cca3b6b02c6",
        "type": "q-gate",
        "z": "cf6783623c678570",
        "name": "",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "default",
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "2bc086dd1d0e8d27",
                "ab78e9f2c61b94b1"
            ]
        ]
    },
    {
        "id": "a5dc26bc42bea497",
        "type": "change",
        "z": "cf6783623c678570",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "botClientState",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "936b7b35658ab74c"
            ]
        ]
    },
    {
        "id": "936b7b35658ab74c",
        "type": "switch",
        "z": "cf6783623c678570",
        "name": "",
        "property": "botClientState",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "In Game",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 780,
        "wires": [
            [],
            [
                "d4098ed15e03893d"
            ]
        ]
    },
    {
        "id": "5473cfceeba1dca2",
        "type": "change",
        "z": "cf6783623c678570",
        "name": "OPEN GATE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 600,
        "wires": [
            [
                "08986cca3b6b02c6"
            ]
        ]
    },
    {
        "id": "5bd0a600838ed778",
        "type": "change",
        "z": "cf6783623c678570",
        "name": "QUEUE GATE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "queue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 660,
        "wires": [
            [
                "08986cca3b6b02c6"
            ]
        ]
    },
    {
        "id": "3e020dc420936440",
        "type": "change",
        "z": "cf6783623c678570",
        "g": "c58defa34619bed1",
        "name": "In Chat = True",
        "rules": [
            {
                "t": "set",
                "p": "botChatInitialized",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 140,
        "wires": [
            [
                "5473cfceeba1dca2"
            ]
        ]
    },
    {
        "id": "d4098ed15e03893d",
        "type": "change",
        "z": "cf6783623c678570",
        "name": "In Chat = False",
        "rules": [
            {
                "t": "set",
                "p": "botChatInitialized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 860,
        "wires": [
            [
                "5bd0a600838ed778"
            ]
        ]
    },
    {
        "id": "ab78e9f2c61b94b1",
        "type": "debug",
        "z": "cf6783623c678570",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 200,
        "wires": []
    },
    {
        "id": "cad61da787c1ef5e",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1200,
        "wires": []
    },
    {
        "id": "900f5d1dcdb0acda",
        "type": "json",
        "z": "e7c83390c801a80d",
        "g": "f13b70955d462e75",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1040,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "0474690b9176dbe9",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "func": "msg.login = msg.login[msg.login.length-1];\nmsg.filename = msg.login.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1440,
        "wires": [
            [
                "b7ff86d116d4f268"
            ]
        ]
    },
    {
        "id": "0e3940036aafc2d4",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 820,
        "y": 1440,
        "wires": [
            [
                "c80b73112ee98a88"
            ]
        ]
    },
    {
        "id": "b7ff86d116d4f268",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = msg.workingDir + \"/\" + msg.filename;\nmsg.localFilename = \"loginloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1440,
        "wires": [
            [
                "0e3940036aafc2d4"
            ]
        ]
    },
    {
        "id": "c80b73112ee98a88",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "filename": "loginloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 1010,
        "y": 1440,
        "wires": [
            [
                "ac10961c22adb501"
            ]
        ]
    },
    {
        "id": "ac10961c22adb501",
        "type": "join",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1190,
        "y": 1440,
        "wires": [
            [
                "e951bd47d2b1dbae"
            ]
        ]
    },
    {
        "id": "e951bd47d2b1dbae",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newloginlogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldloginlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 1440,
        "wires": [
            [
                "0b879b5dec9cb04f"
            ]
        ]
    },
    {
        "id": "c12c335c04b11519",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldloginlogs",
                "pt": "flow",
                "to": "newloginlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "0b879b5dec9cb04f",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1590,
        "y": 1440,
        "wires": [
            [
                "2ac83c22d129027e"
            ]
        ]
    },
    {
        "id": "c505a268bc1f810e",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "Get latest login log file.",
        "info": "",
        "x": 540,
        "y": 1380,
        "wires": []
    },
    {
        "id": "9f389076a9b6f73f",
        "type": "split",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 630,
        "y": 1520,
        "wires": [
            [
                "c12c335c04b11519",
                "3acc0d2a1d6808d1"
            ]
        ]
    },
    {
        "id": "2ac83c22d129027e",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 1520,
        "wires": [
            [
                "9f389076a9b6f73f"
            ],
            [
                "c12c335c04b11519"
            ]
        ]
    },
    {
        "id": "3acc0d2a1d6808d1",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "Login OR Logout?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "logged in",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "logging out",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 1800,
        "wires": [
            [
                "5c7d207a44f42aa3"
            ],
            [
                "ef03767471d7eb8c"
            ]
        ]
    },
    {
        "id": "5c7d207a44f42aa3",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "Create Login Object",
        "func": "var a = msg.payload;\nconst login = {};\nlogin.time = {};\nlogin.player = {};\n\nlogin.time.year = a.substr(0, 4);\nlogin.time.month = a.substr(5, 2);\nlogin.time.day = a.substr(8, 2);\nlogin.time.hour = a.substr(11, 2);\nlogin.time.minute = a.substr(14, 2);\nlogin.time.second = a.substr(17, 2);\n\nvar playerdetails = a.substr(a.indexOf(\"'\")+1, ((a.indexOf(\"'\", a.indexOf(\"'\")+1)) - (a.indexOf(\"'\")+1))+1); //can add lastindexof to simplify\nlogin.player.ip = playerdetails.substr(0, playerdetails.indexOf(\" \"));\nlogin.player.steamid = playerdetails.substr(playerdetails.indexOf(\" \")+1, (playerdetails.indexOf(\":\")-playerdetails.indexOf(\" \")-1));\nlogin.player.scumname = playerdetails.substr(playerdetails.indexOf(\":\")+1, (playerdetails.lastIndexOf(\"(\")-playerdetails.indexOf(\":\")-1));\nlogin.player.scumid = playerdetails.substr(playerdetails.lastIndexOf(\"(\")+1, (playerdetails.lastIndexOf(\")\")-playerdetails.lastIndexOf(\"(\")-1));\n\nreturn login;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1580,
        "wires": [
            [
                "6b3a7ae32a3b68ce"
            ]
        ]
    },
    {
        "id": "6b3a7ae32a3b68ce",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "Check if New Steam User",
        "func": "msg.topic = \"SELECT * FROM steamUser WHERE steamId = \" + msg.player.steamid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1580,
        "wires": [
            [
                "33d1d8df9440d575"
            ]
        ]
    },
    {
        "id": "33d1d8df9440d575",
        "type": "sqlite",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "mydb": "2118590cbe579670",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 840,
        "y": 1680,
        "wires": [
            [
                "c94b0e292a3b7a6b"
            ]
        ]
    },
    {
        "id": "c94b0e292a3b7a6b",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 1680,
        "wires": [
            [
                "a570cdd0a47f576a"
            ],
            [
                "dd8a48d47178cb22"
            ]
        ]
    },
    {
        "id": "a570cdd0a47f576a",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "Create New Steam User",
        "func": "msg.topic = \"INSERT INTO steamUser(steamId, scumName, ipAddress, scumId) values(\" + msg.player.steamid + \", '\" + msg.player.scumname +\"', '\" + msg.player.ip + \"', \" + msg.player.scumid + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1660,
        "wires": [
            [
                "a9aee0e04ee1b5d6"
            ]
        ]
    },
    {
        "id": "a9aee0e04ee1b5d6",
        "type": "sqlite",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "mydb": "2118590cbe579670",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1420,
        "y": 1660,
        "wires": [
            [
                "29ac032cc0751b08"
            ]
        ]
    },
    {
        "id": "ef03767471d7eb8c",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "Create Logout Object",
        "func": "var a = msg.payload;\nconst logout = {};\nlogout.time = {};\nlogout.player = {};\n\nlogout.time.year = a.substr(0, 4);\nlogout.time.month = a.substr(5, 2);\nlogout.time.day = a.substr(8, 2);\nlogout.time.hour = a.substr(11, 2);\nlogout.time.minute = a.substr(14, 2);\nlogout.time.second = a.substr(17, 2);\n\nlogout.player.scumid = a.substr(a.indexOf(\"'\")+1, ((a.indexOf(\"'\", a.indexOf(\"'\")+1)) - (a.indexOf(\"'\")+1))); //can add lastindexof to simplify\n\nreturn logout;\n\n\n//2021.09.09-14.38.56: '89' logging out",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1960,
        "wires": [
            [
                "5d0e430b6aa8b51f"
            ]
        ]
    },
    {
        "id": "5d0e430b6aa8b51f",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "Fetch Steam User Logging Out",
        "func": "msg.topic = \"SELECT * FROM steamUser WHERE scumId = \" + msg.player.scumid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1960,
        "wires": [
            [
                "33dff353b4411c99"
            ]
        ]
    },
    {
        "id": "33dff353b4411c99",
        "type": "sqlite",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "mydb": "2118590cbe579670",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1280,
        "y": 1960,
        "wires": [
            [
                "8719de7f5a89d239"
            ]
        ]
    },
    {
        "id": "29ac032cc0751b08",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "format login message (New Player)",
        "func": "msg.payload = \"```diff\\n+login Time: [\" + msg.time.hour + \":\" + msg.time.minute + \":\" + msg.time.second + \"] ID: [\" + msg.player.steamid + \"] Name: [\" + msg.player.scumname + \"] [THIS IS A NEW PLAYER]\\n```\";\nmsg.channel = flow.get(\"channelIDLogin\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1760,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "8719de7f5a89d239",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "format logout message",
        "func": "msg.payload = \"```diff\\n-logout Time: [\" + msg.time.hour + \":\" + msg.time.minute + \":\" + msg.time.second + \"] ID: [\" + msg.payload[0].steamId + \"] Name: [\" + msg.payload[0].scumName + \"]\\n```\";\nmsg.channel = flow.get(\"channelIDLogin\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1920,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "de211fa98e101295",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "format login message (Existing Player)",
        "func": "msg.payload = \"```diff\\n+login Time: [\" + msg.time.hour + \":\" + msg.time.minute + \":\" + msg.time.second + \"] ID: [\" + msg.player.steamid + \"] Name: [\" + msg.player.scumname + \"]\\n```\";\nmsg.channel = flow.get(\"channelIDLogin\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1800,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "dd8a48d47178cb22",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "Check Name Change",
        "property": "payload[0].scumId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "player.scumid",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1040,
        "y": 1760,
        "wires": [
            [
                "de211fa98e101295"
            ],
            [
                "ce2adbabcfd9ccf5",
                "9cf5b0b92d40a5fb"
            ]
        ]
    },
    {
        "id": "ce2adbabcfd9ccf5",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "Update Player's Name and scumID",
        "func": "msg.topic = \"UPDATE steamUser SET scumId = \" + msg.player.scumid + \", scumName = \\\"\" + msg.player.scumname + \"\\\" WHERE steamId = \" + msg.player.steamid;\nmsg.payload = \"\";\nreturn msg;\n\n//\"UPDATE steamUser SET scumName = 'Chappie 3.0', scumId = 1362;\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1820,
        "wires": [
            [
                "44b4c9a87f37ac13"
            ]
        ]
    },
    {
        "id": "9cf5b0b92d40a5fb",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "name": "format login message (Existing Player/New Name)",
        "func": "msg.payload = \"```diff\\n+login Time: [\" + msg.time.hour + \":\" + msg.time.minute + \":\" + msg.time.second + \"] ID: [\" + msg.player.steamid + \"] Name: [\" + msg.player.scumname + \"] [NAME CHANGED! Old Name: \" + msg.payload[0].scumName +\"]\\n```\";\nmsg.channel = flow.get(\"channelIDLogin\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 1840,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "44b4c9a87f37ac13",
        "type": "sqlite",
        "z": "e7c83390c801a80d",
        "g": "d31b319e0a98a425",
        "mydb": "2118590cbe579670",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1240,
        "y": 1840,
        "wires": [
            []
        ]
    }
]