flows.json
[
    {
        "id": "e7c83390c801a80d",
        "type": "tab",
        "label": "TEC1 Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3af95fce94a57f18",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c9bdc4eeb83f3a71",
            "ec49dc01b583d0e4",
            "517bbb6d2e99fc3f",
            "5cdbc691e12d63c8",
            "31c44dd228ad333a",
            "bc3a43f9d6f9371c",
            "7d298d037dcc0785",
            "2c73a6beb9f43f46",
            "12258a32cdc88aef",
            "8112e4f7214b8b1e",
            "03d4998c6b17607e",
            "13fb9857d3485ceb",
            "421399e29ada540b",
            "85880742b4c37395",
            "f4c50cb1a1fe8ad3",
            "3cc3e9ff918628ad"
        ],
        "x": 1914,
        "y": 19,
        "w": 732,
        "h": 502
    },
    {
        "id": "f2e3944ec2e98a49",
        "type": "group",
        "z": "e7c83390c801a80d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7503c43e3cd8e8cd",
            "6d034e37778169b5",
            "3a043ad22e6494c3",
            "d088580c23909a11",
            "b1baf05ee55dcecd",
            "8c3a31adf4cfee8a",
            "cb64b9f593018214",
            "a1a35aa4a95f4777",
            "66910f23dd134c7a",
            "2958e4b1787ca703",
            "f2c452def360f9c9",
            "9a65bdf0fc49e6ba",
            "d5b3518a951b75de",
            "cef88909939db6b4",
            "fc12703b35502c02",
            "746c74e2d4f82cd2",
            "8bbd4682b1a627ac",
            "4543ef2791ad9a5a",
            "fbc67ae51119acec",
            "c143eda6c0664c67",
            "a72d7d9a4491ca5c",
            "f950f2df5481240c"
        ],
        "x": 1914,
        "y": 539,
        "w": 752,
        "h": 622
    },
    {
        "id": "42a903ea.527e3c",
        "type": "advanced-ftp-config",
        "host": "165.73.241.82",
        "port": "8821",
        "secure": false,
        "secureOptions": "",
        "user": "juanh",
        "connTimeout": "",
        "pasvTimeout": "",
        "keepalive": "",
        "name": ""
    },
    {
        "id": "6363ec22c866f790",
        "type": "ui_group",
        "name": "FTP Details",
        "tab": "71435652b50b9e7f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "054e62be5c706d3c",
        "type": "ui_group",
        "name": "Discord Channel IDs",
        "tab": "71435652b50b9e7f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "71435652b50b9e7f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "859dbcb8a11c0bcd",
        "type": "discord-token",
        "name": "TEC1 System"
    },
    {
        "id": "a3647966f7782168",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "",
        "workingDir": "165.73.241.82_7000",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 1040,
        "y": 260,
        "wires": [
            [
                "f7e219e337e5edec"
            ]
        ]
    },
    {
        "id": "d999b58a89897bf5",
        "type": "inject",
        "z": "e7c83390c801a80d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "611ccf94ab64161f"
            ]
        ]
    },
    {
        "id": "9f985aed6da6bbbc",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.admin = msg.admin[msg.admin.length-1];\nmsg.filename = msg.admin.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "869d45dab24ff86b"
            ]
        ]
    },
    {
        "id": "9d32eeb600c5582b",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 340,
        "wires": [
            [
                "75a6bc967f88c7d7"
            ]
        ]
    },
    {
        "id": "869d45dab24ff86b",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.workingDir = flow.get(\"workingDir\");\nmsg.filename = msg.workingDir + \"/\" + msg.filename;\nmsg.localFilename = \"adminloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [
            [
                "9d32eeb600c5582b"
            ]
        ]
    },
    {
        "id": "eab76b22e21e5e07",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "name": "Get filenames",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "75a6bc967f88c7d7",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "name": "",
        "filename": "adminloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 990,
        "y": 340,
        "wires": [
            [
                "c55bc81ed0f24540"
            ]
        ]
    },
    {
        "id": "c55bc81ed0f24540",
        "type": "join",
        "z": "e7c83390c801a80d",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "c970b3a3074f22f1"
            ]
        ]
    },
    {
        "id": "c970b3a3074f22f1",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newadminlogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldadminlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 340,
        "wires": [
            [
                "1dd162805fd28644"
            ]
        ]
    },
    {
        "id": "4c3617b480eb4af8",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldadminlogs",
                "pt": "flow",
                "to": "newadminlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1dd162805fd28644",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 340,
        "wires": [
            [
                "ae1215d4a6d3581c"
            ]
        ]
    },
    {
        "id": "323cedad6446ad7d",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "name": "Get latest admin log file.",
        "info": "",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "bd24a9a6886cabfe",
        "type": "discordMessageManager",
        "z": "e7c83390c801a80d",
        "name": "Send Discord Message",
        "channel": "",
        "token": "859dbcb8a11c0bcd",
        "x": 2050,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "b036a3dd85a75048",
        "type": "split",
        "z": "e7c83390c801a80d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 420,
        "wires": [
            [
                "448cccfde3239841"
            ]
        ]
    },
    {
        "id": "448cccfde3239841",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "Format Message - Admin",
        "func": "var a = msg.payload\n\nvar time = a.substr(0, 19);\nvar ID = a.substring( a.indexOf(\"'\") + 1, a.indexOf(\":\",21));\nvar name = a.substring(a.indexOf(\":\",21)+1, a.indexOf(\"(\",21));\nvar command = a.substring(a.indexOf(\"Command: '\")+10, a.lastIndexOf(\"'\"));\n\nmsg.payload = \"```yaml\\nTime: [\" + time + \"] ID: [\" + ID + \"] Name: [\" + name + \"] Command: [\" + command + \"]\\n```\";\n\nmsg.channel = flow.get(\"channelIDAdmin\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 420,
        "wires": [
            [
                "bd24a9a6886cabfe",
                "4c3617b480eb4af8"
            ]
        ]
    },
    {
        "id": "ae1215d4a6d3581c",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "b036a3dd85a75048"
            ],
            [
                "4c3617b480eb4af8"
            ]
        ]
    },
    {
        "id": "4859cf46678a4b5e",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.chat = msg.chat[msg.chat.length-1];\nmsg.filename = msg.chat.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 660,
        "wires": [
            [
                "89a1963d01173e5b"
            ]
        ]
    },
    {
        "id": "569eb3234bd1f82f",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 660,
        "wires": [
            [
                "26ed40633166e090"
            ]
        ]
    },
    {
        "id": "89a1963d01173e5b",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = \"165.73.241.82_7000/\"+msg.filename;\nmsg.localFilename = \"chatloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 660,
        "wires": [
            [
                "569eb3234bd1f82f"
            ]
        ]
    },
    {
        "id": "26ed40633166e090",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "name": "",
        "filename": "chatloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 980,
        "y": 660,
        "wires": [
            [
                "7406a409407d4cc1"
            ]
        ]
    },
    {
        "id": "7406a409407d4cc1",
        "type": "join",
        "z": "e7c83390c801a80d",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 660,
        "wires": [
            [
                "efb1e6b864de3a4d"
            ]
        ]
    },
    {
        "id": "efb1e6b864de3a4d",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newchatlogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldchatlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 660,
        "wires": [
            [
                "e248c92ab607f364"
            ]
        ]
    },
    {
        "id": "47f3282c27881050",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldchatlogs",
                "pt": "flow",
                "to": "newchatlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "e248c92ab607f364",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 660,
        "wires": [
            [
                "9cfeebda0480709f"
            ]
        ]
    },
    {
        "id": "cf5549fb5ce0239e",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "name": "Get latest chat log file.",
        "info": "",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "8215dd1fc9665872",
        "type": "split",
        "z": "e7c83390c801a80d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 740,
        "wires": [
            [
                "47f3282c27881050",
                "7e42fa7e035a7f39"
            ]
        ]
    },
    {
        "id": "9cfeebda0480709f",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 740,
        "wires": [
            [
                "8215dd1fc9665872"
            ],
            [
                "47f3282c27881050"
            ]
        ]
    },
    {
        "id": "5fa469c2ab046f96",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.kill = msg.kill[msg.kill.length-1];\nmsg.filename = msg.kill.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 980,
        "wires": [
            [
                "84cba5c48008d4e1"
            ]
        ]
    },
    {
        "id": "9fb4aecba586ea44",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 980,
        "wires": [
            [
                "d10b4e684138237a"
            ]
        ]
    },
    {
        "id": "84cba5c48008d4e1",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = \"165.73.241.82_7000/\"+msg.filename;\nmsg.localFilename = \"killloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 980,
        "wires": [
            [
                "9fb4aecba586ea44"
            ]
        ]
    },
    {
        "id": "d10b4e684138237a",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "name": "",
        "filename": "killloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 980,
        "y": 980,
        "wires": [
            [
                "0489064d8c34c5e1"
            ]
        ]
    },
    {
        "id": "0489064d8c34c5e1",
        "type": "join",
        "z": "e7c83390c801a80d",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 980,
        "wires": [
            [
                "20cd440a60d08f68"
            ]
        ]
    },
    {
        "id": "20cd440a60d08f68",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newkilllogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldkilllogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 980,
        "wires": [
            [
                "8caf47440d156ec5"
            ]
        ]
    },
    {
        "id": "ca97f64c80e03149",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldkilllogs",
                "pt": "flow",
                "to": "newkilllogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "8caf47440d156ec5",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 980,
        "wires": [
            [
                "a53dab32327b99ac"
            ]
        ]
    },
    {
        "id": "5a19164330c992dd",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "name": "Get latest kill log file.",
        "info": "",
        "x": 510,
        "y": 920,
        "wires": []
    },
    {
        "id": "546092f6ad7e17ab",
        "type": "split",
        "z": "e7c83390c801a80d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "ca97f64c80e03149",
                "bf6272bf00ea2bf0"
            ]
        ]
    },
    {
        "id": "a53dab32327b99ac",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1060,
        "wires": [
            [
                "546092f6ad7e17ab"
            ],
            [
                "ca97f64c80e03149"
            ]
        ]
    },
    {
        "id": "0474690b9176dbe9",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.login = msg.login[msg.login.length-1];\nmsg.filename = msg.login.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1300,
        "wires": [
            [
                "b7ff86d116d4f268"
            ]
        ]
    },
    {
        "id": "0e3940036aafc2d4",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 1300,
        "wires": [
            [
                "c80b73112ee98a88"
            ]
        ]
    },
    {
        "id": "b7ff86d116d4f268",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = \"165.73.241.82_7000/\"+msg.filename;\nmsg.localFilename = \"loginloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1300,
        "wires": [
            [
                "0e3940036aafc2d4"
            ]
        ]
    },
    {
        "id": "c80b73112ee98a88",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "name": "",
        "filename": "loginloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 990,
        "y": 1300,
        "wires": [
            [
                "ac10961c22adb501"
            ]
        ]
    },
    {
        "id": "ac10961c22adb501",
        "type": "join",
        "z": "e7c83390c801a80d",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 1300,
        "wires": [
            [
                "e951bd47d2b1dbae"
            ]
        ]
    },
    {
        "id": "e951bd47d2b1dbae",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newloginlogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldloginlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1300,
        "wires": [
            [
                "0b879b5dec9cb04f"
            ]
        ]
    },
    {
        "id": "c12c335c04b11519",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldloginlogs",
                "pt": "flow",
                "to": "newloginlogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "0b879b5dec9cb04f",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 1300,
        "wires": [
            [
                "2ac83c22d129027e"
            ]
        ]
    },
    {
        "id": "c505a268bc1f810e",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "name": "Get latest login log file.",
        "info": "",
        "x": 520,
        "y": 1240,
        "wires": []
    },
    {
        "id": "9f389076a9b6f73f",
        "type": "split",
        "z": "e7c83390c801a80d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 1380,
        "wires": [
            [
                "c12c335c04b11519",
                "d29c84aca2d9cd9b"
            ]
        ]
    },
    {
        "id": "2ac83c22d129027e",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1380,
        "wires": [
            [
                "9f389076a9b6f73f"
            ],
            [
                "c12c335c04b11519"
            ]
        ]
    },
    {
        "id": "813bac68021bfed6",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.mines = msg.mines[msg.mines.length-1];\nmsg.filename = msg.mines.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1620,
        "wires": [
            [
                "9aa5a2fe8a44a0c0"
            ]
        ]
    },
    {
        "id": "ea87bd6a606f75f6",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 1620,
        "wires": [
            [
                "ddfc03d28f1f9009"
            ]
        ]
    },
    {
        "id": "9aa5a2fe8a44a0c0",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = \"165.73.241.82_7000/\"+msg.filename;\nmsg.localFilename = \"minesloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1620,
        "wires": [
            [
                "ea87bd6a606f75f6"
            ]
        ]
    },
    {
        "id": "ddfc03d28f1f9009",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "name": "",
        "filename": "minesloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 990,
        "y": 1620,
        "wires": [
            [
                "5bd1e88bf882bcc0"
            ]
        ]
    },
    {
        "id": "5bd1e88bf882bcc0",
        "type": "join",
        "z": "e7c83390c801a80d",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 1620,
        "wires": [
            [
                "01c77a7313acb0ea"
            ]
        ]
    },
    {
        "id": "01c77a7313acb0ea",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newmineslogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldmineslogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1620,
        "wires": [
            [
                "53fc821d9824b0a1"
            ]
        ]
    },
    {
        "id": "5120d294b5068e8e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldmineslogs",
                "pt": "flow",
                "to": "newmineslogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "53fc821d9824b0a1",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 1620,
        "wires": [
            [
                "a36e2c120de55427"
            ]
        ]
    },
    {
        "id": "c57d547bed19c3f2",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "name": "Get latest mines log file.",
        "info": "",
        "x": 520,
        "y": 1560,
        "wires": []
    },
    {
        "id": "09499327219e7895",
        "type": "split",
        "z": "e7c83390c801a80d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 1700,
        "wires": [
            [
                "5120d294b5068e8e",
                "e5a769887b87fd39"
            ]
        ]
    },
    {
        "id": "a36e2c120de55427",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1700,
        "wires": [
            [
                "09499327219e7895"
            ],
            [
                "5120d294b5068e8e"
            ]
        ]
    },
    {
        "id": "3ec5450e3de943e7",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.violations = msg.violations[msg.violations.length-1];\nmsg.filename = msg.violations.name\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1940,
        "wires": [
            [
                "53ab39c63df549f2"
            ]
        ]
    },
    {
        "id": "9d8a4eac85250544",
        "type": "advanced-ftp",
        "z": "e7c83390c801a80d",
        "ftp": "42a903ea.527e3c",
        "operation": "status",
        "dataType": "ascii",
        "filename": "",
        "localFilename": "adminlogs.log",
        "workingDir": "",
        "oldPath": "",
        "newPath": "",
        "command": "",
        "recursive": false,
        "useCompression": false,
        "throwError": true,
        "showError": true,
        "name": "",
        "x": 800,
        "y": 1940,
        "wires": [
            [
                "ef5898da0ef9c5c2"
            ]
        ]
    },
    {
        "id": "53ab39c63df549f2",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "msg.operation = \"get\";\nmsg.filename = \"165.73.241.82_7000/\"+msg.filename;\nmsg.localFilename = \"violationsloglatest.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1940,
        "wires": [
            [
                "9d8a4eac85250544"
            ]
        ]
    },
    {
        "id": "ef5898da0ef9c5c2",
        "type": "file in",
        "z": "e7c83390c801a80d",
        "name": "",
        "filename": "violationsloglatest.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf-16le",
        "allProps": true,
        "x": 1000,
        "y": 1940,
        "wires": [
            [
                "8f842eea6e492bf6"
            ]
        ]
    },
    {
        "id": "8f842eea6e492bf6",
        "type": "join",
        "z": "e7c83390c801a80d",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 1940,
        "wires": [
            [
                "30b0f4f49b6f63c7"
            ]
        ]
    },
    {
        "id": "30b0f4f49b6f63c7",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newviolationslogs",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "right",
                "pt": "msg",
                "to": "oldviolationslogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1940,
        "wires": [
            [
                "2b1223d5c9b61ea4"
            ]
        ]
    },
    {
        "id": "03114adbe6c1b33e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldviolationslogs",
                "pt": "flow",
                "to": "newviolationslogs",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "2b1223d5c9b61ea4",
        "type": "differences",
        "z": "e7c83390c801a80d",
        "name": "",
        "leftInput": "left",
        "leftInputType": "msg",
        "rightInput": "right",
        "rightInputType": "msg",
        "func": "-",
        "outputType": "msg",
        "output": "payload",
        "x": 1570,
        "y": 1940,
        "wires": [
            [
                "1ad79fc4ebe64019"
            ]
        ]
    },
    {
        "id": "a8611ffabe878ad7",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "name": "Get latest violations log file.",
        "info": "",
        "x": 530,
        "y": 1880,
        "wires": []
    },
    {
        "id": "2ee1aea256edcd58",
        "type": "split",
        "z": "e7c83390c801a80d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 2020,
        "wires": [
            [
                "03114adbe6c1b33e",
                "cd9178a79b592056"
            ]
        ]
    },
    {
        "id": "1ad79fc4ebe64019",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 2020,
        "wires": [
            [
                "2ee1aea256edcd58"
            ],
            [
                "03114adbe6c1b33e"
            ]
        ]
    },
    {
        "id": "f7e219e337e5edec",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "",
        "func": "const arr = msg.payload;\n\nvar adminresult = arr.filter(item => item.name.includes('admin_'));\nvar chatresult = arr.filter(item => item.name.includes('chat_'));\nvar killresult = arr.filter(item => item.name.includes('kill_'));\nvar loginresult = arr.filter(item => item.name.includes('login_'));\nvar minesresult = arr.filter(item => item.name.includes('mines_'));\nvar violationsresult = arr.filter(item => item.name.includes('violations_'));\n\nmsg.admin = adminresult;\nmsg.chat = chatresult;\nmsg.kill = killresult;\nmsg.login = loginresult;\nmsg.mines = minesresult;\nmsg.violations = violationsresult;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 280,
        "wires": [
            [
                "9f985aed6da6bbbc",
                "4859cf46678a4b5e",
                "5fa469c2ab046f96",
                "0474690b9176dbe9",
                "813bac68021bfed6",
                "3ec5450e3de943e7"
            ]
        ]
    },
    {
        "id": "7e42fa7e035a7f39",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "Format message - chat",
        "func": "var a = msg.payload;\nconst newMsg = {};\n\nnewMsg.time = a.substr(0, 19);\nnewMsg.ID = a.substring( a.indexOf(\"'\") + 1, a.indexOf(\":\",21));\nnewMsg.name = a.substring(a.indexOf(\":\",21)+1, a.indexOf(\"(\",21));\nnewMsg.msgType = a.substring(a.indexOf(\")' '\")+4, a.indexOf(\":\",a.indexOf(\")' '\")+1));\nnewMsg.message = a.substring(a.indexOf(\"' '\" + newMsg.msgType + \": \"), a.lastIndexOf(\"'\"));\nnewMsg.message = newMsg.message.replace(\"' '\"+newMsg.msgType+\": \",\"\");\n\nif (newMsg.msgType == \"Global\") {\n  newMsg.payload = \"```md\\n# Time: [\" + newMsg.time + \"] ID: [\" + newMsg.ID + \"] Name: [\" + newMsg.name + \"] Type: [\" + newMsg.msgType + \"] Message: [\" + newMsg.message +\"]\\n```\";\n} else if (newMsg.msgType == \"Local\"){\n    newMsg.payload = \"```\\n# Time: [\" + newMsg.time + \"] ID: [\" + newMsg.ID + \"] Name: [\" + newMsg.name + \"] Type: [\" + newMsg.msgType + \"] Message: [\" + newMsg.message +\"]\\n```\";\n} else {\n    newMsg.payload = \"```diff\\n! Time: [\" + newMsg.time + \"] ID: [\" + newMsg.ID + \"] Name: [\" + newMsg.name + \"] Type: [\" + newMsg.msgType + \"] Message: [\" + newMsg.message +\"]\\n```\";\n}\n\nnewMsg.channel = flow.get(\"channelIDChat\");\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 740,
        "wires": [
            [
                "98a83dfabb0e00bb",
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "98a83dfabb0e00bb",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "name": "",
        "property": "msgType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Global",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 800,
        "wires": [
            [
                "437f2ced33b2c09e"
            ]
        ]
    },
    {
        "id": "ae35c715a04005bf",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "List Folder Instructions",
        "func": "msg.operation = \"list\";\nmsg.workingDir = flow.get(\"workingDir\");\nmsg.showError = true;\nmsg.throwError = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 120,
        "wires": [
            [
                "a3647966f7782168"
            ]
        ]
    },
    {
        "id": "75d727566cacab6f",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "PingPerfect Context",
        "rules": [
            {
                "t": "set",
                "p": "workingDir",
                "pt": "flow",
                "to": "165.73.241.82_7000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "ae35c715a04005bf"
            ]
        ]
    },
    {
        "id": "9a8ae406ad5e20a8",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "G-Portal Context",
        "rules": [
            {
                "t": "set",
                "p": "workingDir",
                "pt": "msg",
                "to": "SCUM/Saved/SaveFiles/Logs",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "ae35c715a04005bf"
            ]
        ]
    },
    {
        "id": "c9bdc4eeb83f3a71",
        "type": "ui_dropdown",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Server Provider",
        "label": "Server Provider",
        "tooltip": "",
        "place": "Select option",
        "group": "6363ec22c866f790",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "PingPerfect",
                "value": "PingPerfect",
                "type": "str"
            },
            {
                "label": "G-Portal",
                "value": "G-Portal",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 2020,
        "y": 120,
        "wires": [
            [
                "12258a32cdc88aef"
            ]
        ]
    },
    {
        "id": "ec49dc01b583d0e4",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "label": "Host",
        "tooltip": "",
        "group": "6363ec22c866f790",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 1990,
        "y": 160,
        "wires": [
            [
                "8112e4f7214b8b1e"
            ]
        ]
    },
    {
        "id": "517bbb6d2e99fc3f",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "label": "Port",
        "tooltip": "",
        "group": "6363ec22c866f790",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 1990,
        "y": 200,
        "wires": [
            [
                "03d4998c6b17607e"
            ]
        ]
    },
    {
        "id": "5cdbc691e12d63c8",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "label": "Username",
        "tooltip": "",
        "group": "6363ec22c866f790",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 240,
        "wires": [
            [
                "13fb9857d3485ceb"
            ]
        ]
    },
    {
        "id": "31c44dd228ad333a",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "6363ec22c866f790",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2000,
        "y": 280,
        "wires": [
            [
                "421399e29ada540b"
            ]
        ]
    },
    {
        "id": "bc3a43f9d6f9371c",
        "type": "ui_button",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Save FTP Details",
        "group": "6363ec22c866f790",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save FTP Details",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2030,
        "y": 320,
        "wires": [
            [
                "85880742b4c37395"
            ]
        ]
    },
    {
        "id": "7d298d037dcc0785",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "To SNMP (view result in debug window)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2440,
        "y": 440,
        "wires": []
    },
    {
        "id": "2c73a6beb9f43f46",
        "type": "ui_toast",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "position": "top right",
        "displayTime": "4",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 2370,
        "y": 400,
        "wires": []
    },
    {
        "id": "12258a32cdc88aef",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempServerProvider",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8112e4f7214b8b1e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempHost",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "03d4998c6b17607e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempPort",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "13fb9857d3485ceb",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempUsername",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2290,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "421399e29ada540b",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempPassword",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2290,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "85880742b4c37395",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Check user input and construct payload object",
        "func": "var serverProvider = flow.get(\"UITempServerProvider\");\nvar host = flow.get(\"UITempHost\");\nvar port = flow.get(\"UITempPort\");\nvar username = flow.get(\"UITempUsername\");\nvar password = flow.get(\"UITempPassword\");\n\nif(!serverProvider){\n    node.error(\"Server Provider is empty\",msg)\n    return null; //halt flow\n}\nif(!host){\n    node.error(\"Host is empty\",msg)\n    return null; //halt flow\n}\nif(!port){\n    node.error(\"Port is empty\",msg)\n    return null; //halt flow\n}\nif(!username){\n    node.error(\"Username is empty\",msg)\n    return null; //halt flow\n}\nif(!password){\n    node.error(\"Password is empty\",msg)\n    return null; //halt flow\n}\nmsg.payload = [\n    {\n        \"serverProvider\": serverProvider,\n        \"host\": host,\n        \"port\":   port,\n        \"username\":  username,\n        \"password\": password\n    }\n]\n//temporary debug - set payload with string version for demo notification\n\n//msg.payload = \"All fields OK. This is what varbinds contains...\\n\" +  JSON.stringify(msg.varbinds);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 320,
        "wires": [
            [
                "2c73a6beb9f43f46",
                "7d298d037dcc0785",
                "f4c50cb1a1fe8ad3"
            ]
        ]
    },
    {
        "id": "f4c50cb1a1fe8ad3",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Set Context",
        "rules": [
            {
                "t": "set",
                "p": "serverProvider",
                "pt": "flow",
                "to": "payload[0].serverProvider",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "flow",
                "to": "payload[0].host",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "flow",
                "to": "payload[0].port",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "payload[0].username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload[0].password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2350,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3cc3e9ff918628ad",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "3af95fce94a57f18",
        "name": "Set FTP Details",
        "info": "",
        "x": 2020,
        "y": 60,
        "wires": []
    },
    {
        "id": "611ccf94ab64161f",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "name": "Check Server Provider",
        "property": "serverProvider",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "PingPerfect",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G-Portal",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "75d727566cacab6f"
            ],
            [
                "9a8ae406ad5e20a8"
            ],
            [
                "0818dc81a8a04017"
            ]
        ]
    },
    {
        "id": "7503c43e3cd8e8cd",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Admin Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 640,
        "wires": [
            [
                "2958e4b1787ca703"
            ]
        ]
    },
    {
        "id": "6d034e37778169b5",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Chat Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 680,
        "wires": [
            [
                "f2c452def360f9c9"
            ]
        ]
    },
    {
        "id": "3a043ad22e6494c3",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Global Chat Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2030,
        "y": 720,
        "wires": [
            [
                "9a65bdf0fc49e6ba"
            ]
        ]
    },
    {
        "id": "d088580c23909a11",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Kill Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2000,
        "y": 760,
        "wires": [
            [
                "d5b3518a951b75de"
            ]
        ]
    },
    {
        "id": "b1baf05ee55dcecd",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Login Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 800,
        "wires": [
            [
                "cef88909939db6b4"
            ]
        ]
    },
    {
        "id": "8c3a31adf4cfee8a",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Mines Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2010,
        "y": 840,
        "wires": [
            [
                "fc12703b35502c02"
            ]
        ]
    },
    {
        "id": "cb64b9f593018214",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "Violations Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2020,
        "y": 880,
        "wires": [
            [
                "746c74e2d4f82cd2"
            ]
        ]
    },
    {
        "id": "a1a35aa4a95f4777",
        "type": "ui_text_input",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "label": "PvP Logs",
        "tooltip": "Enter the channel ID for this channel",
        "group": "054e62be5c706d3c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 2000,
        "y": 920,
        "wires": [
            [
                "8bbd4682b1a627ac"
            ]
        ]
    },
    {
        "id": "66910f23dd134c7a",
        "type": "ui_button",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "Save Channel IDs",
        "group": "054e62be5c706d3c",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save Channel IDs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2030,
        "y": 960,
        "wires": [
            [
                "4543ef2791ad9a5a"
            ]
        ]
    },
    {
        "id": "2958e4b1787ca703",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDAdmin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f2c452def360f9c9",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDChat",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9a65bdf0fc49e6ba",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDGlobalChat",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2330,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d5b3518a951b75de",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDKill",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cef88909939db6b4",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDLogin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "fc12703b35502c02",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDMines",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "746c74e2d4f82cd2",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDViolations",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2330,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "8bbd4682b1a627ac",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "UITempChannelIDPvP",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2310,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "4543ef2791ad9a5a",
        "type": "function",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "Check user input and construct payload object",
        "func": "var channelIDAdmin = flow.get(\"UITempChannelIDAdmin\");\nvar channelIDChat = flow.get(\"UITempChannelIDChat\");\nvar channelIDGlobalChat = flow.get(\"UITempChannelIDGlobalChat\");\nvar channelIDKill = flow.get(\"UITempChannelIDKill\");\nvar channelIDLogin = flow.get(\"UITempChannelIDLogin\");\nvar channelIDMines = flow.get(\"UITempChannelIDMines\");\nvar channelIDViolations = flow.get(\"UITempChannelIDViolations\");\nvar channelIDPvP = flow.get(\"UITempChannelIDPvP\");\n\nif(!channelIDAdmin){\n    node.error(\"Admin Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDChat){\n    node.error(\"Chat Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDGlobalChat){\n    node.error(\"Global Chat Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDKill){\n    node.error(\"Kill Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDLogin){\n    node.error(\"Login Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDMines){\n    node.error(\"Mines Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDViolations){\n    node.error(\"Violations Channel ID is empty\",msg)\n    return null; //halt flow\n}\nif(!channelIDPvP){\n    node.error(\"PvP Channel ID is empty\",msg)\n    return null; //halt flow\n}\n\nmsg.payload = [\n    {\n        \"channelIDAdmin\": channelIDAdmin,\n        \"channelIDChat\": channelIDChat,\n        \"channelIDGlobalChat\":   channelIDGlobalChat,\n        \"channelIDKill\":  channelIDKill,\n        \"channelIDLogin\":  channelIDLogin,\n        \"channelIDMines\":  channelIDMines,\n        \"channelIDViolations\":  channelIDViolations,\n        \"channelIDPvP\": channelIDPvP\n    }\n]\n//temporary debug - set payload with string version for demo notification\n\n//msg.payload = \"All fields OK. This is what varbinds contains...\\n\" +  JSON.stringify(msg.varbinds);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2360,
        "y": 960,
        "wires": [
            [
                "fbc67ae51119acec",
                "c143eda6c0664c67",
                "a72d7d9a4491ca5c"
            ]
        ]
    },
    {
        "id": "fbc67ae51119acec",
        "type": "ui_toast",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "position": "top right",
        "displayTime": "4",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 2390,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c143eda6c0664c67",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "To SNMP (view result in debug window)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a72d7d9a4491ca5c",
        "type": "change",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "Set Context",
        "rules": [
            {
                "t": "set",
                "p": "channelIDAdmin",
                "pt": "flow",
                "to": "payload[0].channelIDAdmin",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDChat",
                "pt": "flow",
                "to": "payload[0].channelIDChat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDGlobalChat",
                "pt": "flow",
                "to": "payload[0].channelIDGlobalChat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDKill",
                "pt": "flow",
                "to": "payload[0].channelIDKill",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDLogin",
                "pt": "flow",
                "to": "payload[0].channelIDLogin",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDMines",
                "pt": "flow",
                "to": "payload[0].channelIDMines",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDViolations",
                "pt": "flow",
                "to": "payload[0].channelIDViolations",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channelIDPvP",
                "pt": "flow",
                "to": "payload[0].channelIDPvP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2370,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "f950f2df5481240c",
        "type": "comment",
        "z": "e7c83390c801a80d",
        "g": "f2e3944ec2e98a49",
        "name": "Set Channel IDs",
        "info": "",
        "x": 2020,
        "y": 580,
        "wires": []
    },
    {
        "id": "437f2ced33b2c09e",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "channelIDGlobalChat",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 800,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "19a5e025f613ecfc",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "Format message - PvP",
        "func": "msg.channel = flow.get(\"channelIDPvP\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "d29c84aca2d9cd9b",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "Format message - login",
        "func": "msg.channel = flow.get(\"channelIDLogin\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 1360,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "e5a769887b87fd39",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "Format message - mines",
        "func": "msg.channel = flow.get(\"channelIDMines\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1700,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "cd9178a79b592056",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "Format message - violations",
        "func": "msg.channel = flow.get(\"channelIDViolations\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 2020,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "970476fb6c2105b6",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bf6272bf00ea2bf0",
        "type": "switch",
        "z": "e7c83390c801a80d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": " {\"Killer\":{\"ServerLocation",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1060,
        "wires": [
            [
                "8e390dd4c4b0c4c3"
            ]
        ]
    },
    {
        "id": "8e390dd4c4b0c4c3",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "Convert Kill Message to Object",
        "func": "let str = msg.payload;\nlet n = 21;\n \nstr = str.substring(n);\n\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1060,
        "wires": [
            [
                "c2b7db9fe482082c"
            ]
        ]
    },
    {
        "id": "c2b7db9fe482082c",
        "type": "json",
        "z": "e7c83390c801a80d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1170,
        "y": 1060,
        "wires": [
            [
                "bc96117ebb3a0833"
            ]
        ]
    },
    {
        "id": "bc96117ebb3a0833",
        "type": "function",
        "z": "e7c83390c801a80d",
        "name": "Format message - kill",
        "func": "msg.payload = \"Killer: \" + msg.payload.Killer.ProfileName + \" | Victim: \" + msg.payload.Victim.ProfileName + \" | Weapon: \" + msg.payload.Weapon\nmsg.channel = flow.get(\"channelIDKill\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1060,
        "wires": [
            [
                "bd24a9a6886cabfe"
            ]
        ]
    },
    {
        "id": "d7b10e0b9b16a4ab",
        "type": "debug",
        "z": "e7c83390c801a80d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "0818dc81a8a04017",
        "type": "change",
        "z": "e7c83390c801a80d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Server Provider not set. Navigate to UI to setup bot.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "d7b10e0b9b16a4ab"
            ]
        ]
    }
]